## Imports

In [1]:
import pandas as pd

In [2]:
df_global = pd.DataFrame

In [3]:
df_gk = pd.read_csv("../../data/belgium/belgium_goalkeepers.csv")
df_cb = pd.read_csv("../../data/belgium/belgium_centerbacks.csv")
df_lb = pd.read_csv("../../data/belgium/belgium_leftbacks.csv")
df_rb = pd.read_csv("../../data/belgium/belgium_rightbacks.csv")
df_dm = pd.read_csv("../../data/belgium/belgium_defensivemidfields.csv")
df_cm = pd.read_csv("../../data/belgium/belgium_centralmidfields.csv")
df_rm = pd.read_csv("../../data/belgium/belgium_rightmidfields.csv")
df_lm = pd.read_csv("../../data/belgium/belgium_leftmidfields.csv")
df_am = pd.read_csv("../../data/belgium/belgium_attackingmidfields.csv")
df_lw = pd.read_csv("../../data/belgium/belgium_leftwingers.csv")
df_rw = pd.read_csv("../../data/belgium/belgium_rightwingers.csv")
df_st = pd.read_csv("../../data/belgium/belgium_secondstrikers.csv")
df_cf = pd.read_csv("../../data/belgium/belgium_centerforwards.csv")

## Merge all the dataframes

In [4]:
df_global = pd.concat([df_gk, df_cb, df_lb, df_rb, df_dm, df_cm, df_rm, df_lm, df_am, df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [5]:
df_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2004 entries, 0 to 2003
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           980 non-null    float64
 1   Name             2004 non-null   object
 2   Position         2004 non-null   object
 3   Date of Birth    2004 non-null   object
 4   Age              2003 non-null   object
 5   Nationality      2004 non-null   object
 6   Birth Country    2004 non-null   object
 7   Place of Birth   1666 non-null   object
 8   Height           1683 non-null   object
 9   Market Value     2004 non-null   object
 10  Other Positions  1329 non-null   object
dtypes: float64(1), object(10)
memory usage: 172.3+ KB

## Goalkeepers

In [6]:
df_gk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 247 entries, 0 to 246
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Number          107 non-null    float64
 1   Name            247 non-null    object
 2   Position        247 non-null    object
 3   Date of Birth   247 non-null    object
 4   Age             247 non-null    object
 5   Nationality     247 non-null    object
 6   Birth Country   247 non-null    object
 7   Place of Birth  209 non-null    object
 8   Height          203 non-null    object
 9   Market Value    247 non-null    object
dtypes: float64(1), object(9)
memory usage: 19.4+ KB

In [7]:
print(len(df_gk)/len(df_global)*100)

12.325349301397205

## Defenders

In [8]:
df_defenders = pd.concat([ df_cb, df_lb, df_rb],ignore_index=True)

In [9]:
df_defenders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 644 entries, 0 to 643
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           314 non-null    float64
 1   Name             644 non-null    object
 2   Position         644 non-null    object
 3   Date of Birth    644 non-null    object
 4   Age              643 non-null    object
 5   Nationality      644 non-null    object
 6   Birth Country    644 non-null    object
 7   Place of Birth   531 non-null    object
 8   Other Positions  462 non-null    object
 9   Height           538 non-null    object
 10  Market Value     644 non-null    object
dtypes: float64(1), object(10)
memory usage: 55.5+ KB

In [10]:
print(len(df_defenders)/len(df_global)*100)

32.13572854291417

## Midfielders

In [11]:
df_midfielders = pd.concat([df_dm, df_cm, df_rm, df_lm, df_am],ignore_index=True)

In [12]:
df_midfielders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 625 entries, 0 to 624
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           301 non-null    float64
 1   Name             625 non-null    object
 2   Position         625 non-null    object
 3   Date of Birth    625 non-null    object
 4   Age              625 non-null    object
 5   Nationality      625 non-null    object
 6   Birth Country    625 non-null    object
 7   Place of Birth   523 non-null    object
 8   Other Positions  498 non-null    object
 9   Height           523 non-null    object
 10  Market Value     625 non-null    object
dtypes: float64(1), object(10)
memory usage: 53.8+ KB

In [13]:
print(len(df_midfielders)/len(df_global)*100)

31.187624750499005

## Strikers

In [14]:
df_strikers = pd.concat([df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [15]:
df_strikers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 488 entries, 0 to 487
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           258 non-null    float64
 1   Name             488 non-null    object
 2   Position         488 non-null    object
 3   Date of Birth    488 non-null    object
 4   Age              488 non-null    object
 5   Nationality      488 non-null    object
 6   Birth Country    488 non-null    object
 7   Place of Birth   403 non-null    object
 8   Other Positions  369 non-null    object
 9   Height           419 non-null    object
 10  Market Value     488 non-null    object
dtypes: float64(1), object(10)
memory usage: 42.1+ KB

In [16]:
print(len(df_strikers)/len(df_global)*100)

24.35129740518962