## Imports

In [1]:
import pandas as pd

In [2]:
df_global = pd.DataFrame

In [3]:
df_global = pd.read_csv("../../data/belgium/belgium_global.csv")

In [ ]:
df_global.info()

In [ ]:
df_global.tail()

## Split the nationalities column

In [6]:
df_global['Nationality'] = df_global['Nationality'].str.replace("[", "")
df_global['Nationality'] = df_global['Nationality'].str.replace("'", "")
df_global['Nationality'] = df_global['Nationality'].str.replace("]", "")

In [ ]:
df_global.head()

In [8]:
df_global[['Nationality 1', 'Nationality 2']] = df_global['Nationality'].str.split(",",expand=True)

## Split the other positions

In [ ]:
df_global.head()

In [10]:
df_global[['Position 2', 'Position 3']] = df_global['Other Positions'].str.split(expand=True)

In [ ]:
df_global.tail()

## Remove parenthesis in place of Birth

In [ ]:

#strt_pos = df_global['Place of Birth'].values[0].find("(")
#stop_pos = df_global['Place of Birth'].values[0].find(")")

#if (strt_pos == -1) and (stop_pos == -1) : 
    #i = i+1
    #print(strt_pos)
    #print(stop_pos)
    #print(df_global['Place of Birth'].values[0])
#else:
    #df_global['Place of Birth'].values[0] = f"{df_global['Place of Birth'].values[7][:strt_pos:].strip()} {df_global['Place of Birth'].values[7][stop_pos+1:].strip()}"
    #print("oui")
    #print(df_global['Place of Birth'].values[7])

In [13]:
for i in range(len(df_global)):
    if type(df_global['Place of Birth'].values[i]) is str :
        strt_pos = df_global['Place of Birth'].values[i].find('(')
        stop_pos = df_global['Place of Birth'].values[i].find(')')
        if (strt_pos == -1) and (stop_pos == -1) : 
            i+1
        else:
            df_global['Place of Birth'].values[i] = f"{df_global['Place of Birth'].values[i][:strt_pos:].strip()} {df_global['Place of Birth'].values[i][stop_pos+1:].strip()}"
            i+1
            df_global['Place of Birth'].values[i] = df_global['Place of Birth'].values[i][:-1]
    else: 
        i+1

## Remove text after comma

In [14]:
for i in range(len(df_global)):
    if type(df_global['Place of Birth'].values[i]) is str :
        df_global['Place of Birth'].values[i] = df_global['Place of Birth'].values[i].split(",")[0]
    else: 
        i+1

## Remove accents on birthplaces

In [15]:
import unicodedata

for i in range(len(df_global)):
    if type(df_global['Place of Birth'].values[i]) is str :
        n= unicodedata.normalize('NFKD', df_global['Place of Birth'].values[i])
        df_global['Place of Birth'].values[i] = ''.join([c for c in n if not unicodedata.combining(c)]) 
    else: 
        i+1

In [ ]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_global)

In [17]:
df_global.to_csv("../../data/belgium/belgium_clean.csv", header= True, index=False, encoding="utf-8")