# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [2]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [3]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_38310/4036869986.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [4]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [5]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
      
        for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):
                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):
                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        


        #driver.execute_script("arguments[0].click();", next_buttons[x])
        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
#next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
      
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Position,Date of Birth,Age,Nationality,Place of Birth,Other Positions,Height,Market Value
0,15,Leny Yoro,Centre-Back,"Nov 13, 2005",18,French,Saint-Maurice,,"1,90",€25.00m
1,29,Mamadou Sarr,Centre-Back,"Aug 29, 2005",18,French,Martigues,,"1,94",€1.00m
2,,Ritchy Valme,Centre-Back,"Feb 3, 2005",19,French,Gonesse,,,€300k
3,,Ousmane Touré,Centre-Back,"Feb 18, 2005",19,French,Lille,RB,"1,87",€100k
4,,Yassine Dridi,Centre-Back,"Jan 4, 2005",19,French,Nice,RB,"1,88",€50k
...,...,...,...,...,...,...,...,...,...,...
57,,Yaël Mouanga,Centre-Back,"Jul 23, 2005",18,French,Créteil,,,-
58,,Morgan Hiessler,Centre-Back,"Jun 10, 2005",18,French,Schiltigheim,RB,,-
59,,Maïssan Sardi,Centre-Back,"Jan 13, 2005",19,French,Ivry-sur-Seine,LB,"1,92",-
60,,Mattéo Evangelisti,Centre-Back,"May 9, 2005",18,French,Carpentras,,"1,77",-
61,,Elyaz Zidane,Centre-Back,"Dec 26, 2005",18,French,Marseille,LB DM,"1,94",-

In [205]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_2005)

   Number                     Name     Position  Date of Birth Age
0      15                Leny Yoro  Centre-Back  Nov 13, 2005   18  \
1      29             Mamadou Sarr  Centre-Back  Aug 29, 2005   18
2                     Ritchy Valme  Centre-Back   Feb 3, 2005   19
3                    Ousmane Touré  Centre-Back  Feb 18, 2005   19
4                    Yassine Dridi  Centre-Back   Jan 4, 2005   19
5      25            Steven Baseya  Centre-Back  Jan 14, 2005   19
6                     Noah Halford  Centre-Back   Jan 2, 2005   19
7                  Jawad Dhifallah  Centre-Back  Jul 24, 2005   18
8                  Philippe Nkouka  Centre-Back  Feb 13, 2005   19
9                 Sakhalou Niakaté  Centre-Back  Nov 18, 2005   18
10         Thomas Gardères Caillon  Centre-Back   May 2, 2005   18
11                 Esteban Moreira  Centre-Back  Feb 20, 2005   19
12                    Enzo Lamarre  Centre-Back  Jan 18, 2005   19
13      5   El Chadaille Bitshiabu  Centre-Back  May 16, 2005   18
14     44              Nathan Zeze  Centre-Back  Jun 18, 2005   18
15     13        Christian Mawissa  Centre-Back  Apr 18, 2005   18
16                 Anthony Khelifa  Centre-Back  Sep 20, 2005   18
17     97           Jérémy Jacquet  Centre-Back  Jul 13, 2005   18
18                      Yoni Gomis  Centre-Back  Sep 23, 2005   18
19                 Junior Essengue  Centre-Back   Aug 9, 2005   18
20                    Joyce Mazila  Centre-Back   May 1, 2005   18
21              Abdessalem Khelifi  Centre-Back  Dec 27, 2005   18
22                      Tom Ossart  Centre-Back   Dec 2, 2005   18
23          Guy-Emmanuel N'Guessan  Centre-Back  May 15, 2005   18
24                     Paco Mathis  Centre-Back   Sep 4, 2005   18
25               Mattéo Pothonnier  Centre-Back  Feb 25, 2005   19
26                    Adama Timera  Centre-Back   Apr 9, 2005   18
27                    Kenny Yedmel  Centre-Back  Apr 16, 2005   18
28                   Danyl Chagour  Centre-Back  Jun 26, 2005   18
29                    Nguedy Thiam  Centre-Back  Jan 28, 2005   19
30                  Gabin Mazeyrat  Centre-Back  May 11, 2005   18
31           Jean-Michel Dalberant  Centre-Back  Feb 12, 2005   19
32                  Ethan Bagbonon  Centre-Back  Jul 18, 2005   18
33                   Demba N'Diaye  Centre-Back  Aug 18, 2005   18
34                  Maxence Gateau  Centre-Back   Feb 6, 2005   19
35                   Lucas Boulmot  Centre-Back  Jan 12, 2005   19
36                El Asrar Mohamed  Centre-Back  Jun 11, 2005   18
37                     Ilan Thobor  Centre-Back   Jan 1, 2005   19
38               Rafael Ranschaert  Centre-Back  Nov 14, 2005   18
39                  Mehdi Tenniche  Centre-Back   May 9, 2005   18
40              Terry Obambi-Andoh  Centre-Back  Jul 16, 2005   18
41                  Aymeric Moreau  Centre-Back   Jul 2, 2005   18
42                    Joan Tshiabu  Centre-Back  Dec 21, 2005   18
43                  Lilian Coponat  Centre-Back  Jul 20, 2005   18
44                 Antonin Moisdon  Centre-Back  Apr 25, 2005   18
45                  Haïssam Ghares  Centre-Back   Nov 7, 2005   18
46                    Yassin Haoui  Centre-Back  Jan 25, 2005   19
47                    Eden Gassama  Centre-Back  Jul 26, 2005   18
48              Aboubaka Soumahoro  Centre-Back   Feb 4, 2005   19
49     93       Philippe Lanquetin  Centre-Back  Feb 21, 2005   19
50                   Tarek Issaoui  Centre-Back  Sep 23, 2005   18
51                    Ewen Tondeux  Centre-Back   Apr 3, 2005   18
52                    Mathéo Konan  Centre-Back  Jun 10, 2005   18
53            Luzolo Vangi Vungele  Centre-Back   Aug 8, 2005   18
54                    Tom Akpakoun  Centre-Back  Apr 22, 2005   18
55             Chris-Rayan Tohouli  Centre-Back  Jan 14, 2005   19
56                 Mouhamed Diallo  Centre-Back   Sep 5, 2005   18
57                    Yaël Mouanga  Centre-Back  Jul 23, 2005   18
58                 Morgan Hiessler  Centre-Back  Jun 10, 2005   18
59                   Maïssan Sardi  Centre-Back  Jan 13, 2005   19
60              Mattéo Evangelisti  Centre-Back   May 9, 2005   18
61                    Elyaz Zidane  Centre-Back  Dec 26, 2005   18

   Nationality            Place of Birth   Height Market Value
0       French             Saint-Maurice                  1,90
1       French                 Martigues                  1,94
2       French                   Gonesse
3       French                     Lille       RB         1,87
4       French                      Nice       RB         1,88
5       French                Longjumeau
6       French                    Voiron                  1,92
7       French    Soisy-sous-Montmorency  RB   DM         1,86
8       French                     Paris                  1,89
9       French                     Paris                  1,79
10      French                  Bordeaux                  1,85
11      French                     Nancy
12      French                 Montreuil  DM   LB         1,85
13      French  Villeneuve-Saint-Georges  DM   LB         1,96
14      French                    Nantes                  1,90
15      French      Saint-Jean-de-Verges  RB   LB         1,80
16      French                 Marseille
17      French                     Bondy                  1,88
18      French    Saint-Aubin-lès-Elbeuf       DM         1,86
19      French                 Paris 10e       LB         1,89
20      French                     Rouen
21      French                     Rouen
22      French                    Amiens
23      French                     Nancy
24      French                  Poitiers                  1,77
25      French                   Orléans       LB         1,83
26      French                  Nanterre                  1,84
27      French                   Clamart       LB         1,87
28      French                 Marseille                  1,78
29      French                                 LB         1,88
30      French                  Beaumont                  1,87
31      French                                 RB         1,85
32      French                    Drancy       DM         1,85
33      French            Vaulx-en-Velin
34      French                  Narbonne                  1,80
35      French        Évry-Courcouronnes
36      French                 Marseille       DM
37      French                     Melun
38      French         Lambres-lez-Douai                  1,82
39      French                                 RB
40      French                     Rouen
41      French                    Rennes
42      French                     Paris
43      French          Décines-Charpieu
44      French          La Roche-sur-Yon                  1,85
45      French                     Blois                  1,93
46      French                     Laval       DM
47      French                      Évry                  1,88
48      French                     Paris
49      French                     Orsay                  1,88
50      French                    Poissy       DM         1,86
51      French                    Rennes
52      French                  Toulouse
53      French            Ivry-sur-Seine
54      French                     Nîmes
55      French                 Marseille
56      French                 Marseille  DM   CM         1,88
57      French                   Créteil
58      French              Schiltigheim       RB
59      French            Ivry-sur-Seine       LB         1,92
60      French                Carpentras                  1,77
61      French                 Marseille  LB   DM         1,94

## Merge all the dataframes into a single one and save the df into a csv file

In [206]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [207]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1437 entries, 0 to 1436
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Number          1437 non-null   object
 1   Name            1437 non-null   object
 2   Position        1437 non-null   object
 3   Date of Birth   1437 non-null   object
 4   Age             1437 non-null   object
 5   Nationality     1437 non-null   object
 6   Place of Birth  1437 non-null   object
 7   Height          1437 non-null   object
 8   Market Value    1437 non-null   object
dtypes: object(9)
memory usage: 101.2+ KB

In [208]:
df_merged.to_csv("../data/france_centerbacks.csv", header= True, index=False)