In [26]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [306]:
url = "https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278"

In [307]:
headers = {
    'user-agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_15_7) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/121.0.0.0 Safari/537.36',
}

In [308]:
response = requests.get(url, headers=headers)
soup = BeautifulSoup(response.content, "html.parser")

In [5]:
#for table in soup.find_all('table') :
    #print(table.get('class'))

In [309]:
tables = soup.find_all('table')

In [310]:
table = soup.find('table', class_ = 'items')

In [32]:
#rows = []

In [311]:
# Defining of the dataframe
#df = pd.DataFrame(columns=['Number', 'Name', 'Position', 'Date of Birth', 'Nationality', 'Place of Birth', 'Height', 'Market Value'])


# Collecting Ddata
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
        rows.append({
            'Number' : columns[0].text.strip(),
            'Name':columns[3].text.strip(),
            'Position': columns[4].text.strip(),
            'Date of Birth': columns[5].text.split('(')[0],
            'Age': columns[5].text.split('(')[-1].replace(")",''),
            'Nationality': 'French',
            'Place of Birth': columns[8].text.strip(),
            'Height' : columns[9].text.strip(), 
            'Market Value' : columns[10].text.strip()
        } )

for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
        rows.append({
            'Number' : columns[0].text.strip(),
            'Name':columns[3].text.strip(),
            'Position': columns[4].text.strip(),
            'Date of Birth': columns[5].text.split('(')[0],
            'Age': columns[5].text.split('(')[-1].replace(")",''),
            'Nationality': 'French',
            'Place of Birth': columns[8].text.strip(),
            'Height' : columns[9].text.strip(), 
            'Market Value' : columns[10].text.strip()
        } )

In [313]:
print(len(rows))

1175

In [314]:
df = pd.DataFrame(rows)

In [315]:
df

,Number,Name,Position,Date of Birth,Age,Nationality,Place of Birth,Height,Market Value
0,16,Jean-Louis Leca,Goalkeeper,"Sep 21, 1985",38,French,Bastia,"1,80",€200k
1,,Mathieu Suffissais,Goalkeeper,"May 30, 1985",38,French,Laval,"1,83",-
2,,Gérald Delaporte,Goalkeeper,"Dec 18, 1985",38,French,,,-
3,,Thomas Fedrigo,Goalkeeper,"May 10, 1985",38,French,Paray-le-Monial,"1,80",-
4,,Florian Piolot,Goalkeeper,"Dec 24, 1985",38,French,Pabu,"1,86",-
...,...,...,...,...,...,...,...,...,...
1170,,Lukas Mary,Goalkeeper,"Feb 24, 2005",18,French,Chambray-lès-Tours,,-
1171,,Khamy Bello,Goalkeeper,"Mar 15, 2005",18,French,Rouen,,-
1172,,Viali,Goalkeeper,"Mar 10, 2005",18,French,Nantes,,-
1173,,Louis Petitaud,Goalkeeper,"Feb 4, 2005",19,French,Privas,,-
1174,,Lucas Droyaux,Goalkeeper,"Jan 28, 2005",19,French,Vannes,,-

In [316]:
df.to_csv("../data/france_goalkeepers.csv", header= True, index=False)