## Imports

In [1]:
import pandas as pd

In [2]:
df_global = pd.DataFrame

In [3]:
df_gk = pd.read_csv("../../data/france/france_goalkeepers.csv")
df_cb = pd.read_csv("../../data/france/france_centerbacks.csv")
df_lb = pd.read_csv("../../data/france/france_leftbacks.csv")
df_rb = pd.read_csv("../../data/france/france_rightbacks.csv")
df_dm = pd.read_csv("../../data/france/france_defensivemidfields.csv")
df_cm = pd.read_csv("../../data/france/france_centralmidfields.csv")
df_rm = pd.read_csv("../../data/france/france_rightmidfields.csv")
df_lm = pd.read_csv("../../data/france/france_leftmidfields.csv")
df_am = pd.read_csv("../../data/france/france_attackingmidfields.csv")
df_lw = pd.read_csv("../../data/france/france_leftwingers.csv")
df_rw = pd.read_csv("../../data/france/france_rightwingers.csv")
df_st = pd.read_csv("../../data/france/france_secondstrikers.csv")
df_cf = pd.read_csv("../../data/france/france_centerforwards.csv")

## Merge all the dataframes

In [4]:
df_global = pd.concat([df_gk, df_cb, df_lb, df_rb, df_dm, df_cm, df_rm, df_lm, df_am, df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [9]:
df_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8314 entries, 0 to 8313
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           2968 non-null   float64
 1   Name             8314 non-null   object
 2   Position         8314 non-null   object
 3   Date of Birth    8314 non-null   object
 4   Age              8310 non-null   object
 5   Nationality      8314 non-null   object
 6   Birth Country    8314 non-null   object
 7   Place of Birth   7864 non-null   object
 8   Height           6966 non-null   object
 9   Market Value     8314 non-null   object
 10  Other Positions  4963 non-null   object
dtypes: float64(1), object(10)
memory usage: 714.6+ KB

## Goalkeepers

In [10]:
df_gk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 962 entries, 0 to 961
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Number          274 non-null    float64
 1   Name            962 non-null    object
 2   Position        962 non-null    object
 3   Date of Birth   962 non-null    object
 4   Age             962 non-null    object
 5   Nationality     962 non-null    object
 6   Birth Country   962 non-null    object
 7   Place of Birth  914 non-null    object
 8   Height          743 non-null    object
 9   Market Value    962 non-null    object
dtypes: float64(1), object(9)
memory usage: 75.3+ KB

In [19]:
print(len(df_gk)/len(df_global)*100)

11.570844358912677

## Defenders

In [11]:
df_defenders = pd.concat([ df_cb, df_lb, df_rb],ignore_index=True)

In [12]:
df_defenders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2793 entries, 0 to 2792
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1017 non-null   float64
 1   Name             2793 non-null   object
 2   Position         2793 non-null   object
 3   Date of Birth    2793 non-null   object
 4   Age              2792 non-null   object
 5   Nationality      2793 non-null   object
 6   Birth Country    2793 non-null   object
 7   Place of Birth   2643 non-null   object
 8   Other Positions  1653 non-null   object
 9   Height           2380 non-null   object
 10  Market Value     2793 non-null   object
dtypes: float64(1), object(10)
memory usage: 240.1+ KB

In [18]:
print(len(df_defenders)/len(df_global)*100)

33.59393793601155

## Midfielders

In [13]:
df_midfielders = pd.concat([df_dm, df_cm, df_rm, df_lm, df_am],ignore_index=True)

In [14]:
df_midfielders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2529 entries, 0 to 2528
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           900 non-null    float64
 1   Name             2529 non-null   object
 2   Position         2529 non-null   object
 3   Date of Birth    2529 non-null   object
 4   Age              2526 non-null   object
 5   Nationality      2529 non-null   object
 6   Birth Country    2529 non-null   object
 7   Place of Birth   2393 non-null   object
 8   Other Positions  1896 non-null   object
 9   Height           2103 non-null   object
 10  Market Value     2529 non-null   object
dtypes: float64(1), object(10)
memory usage: 217.5+ KB

In [20]:
print(len(df_midfielders)/len(df_global)*100)

30.418571084917005

## Strikers

In [15]:
df_strikers = pd.concat([df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [16]:
df_strikers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2030 entries, 0 to 2029
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           777 non-null    float64
 1   Name             2030 non-null   object
 2   Position         2030 non-null   object
 3   Date of Birth    2030 non-null   object
 4   Age              2030 non-null   object
 5   Nationality      2030 non-null   object
 6   Birth Country    2030 non-null   object
 7   Place of Birth   1914 non-null   object
 8   Other Positions  1414 non-null   object
 9   Height           1740 non-null   object
 10  Market Value     2030 non-null   object
dtypes: float64(1), object(10)
memory usage: 174.6+ KB

In [21]:
print(len(df_strikers)/len(df_global)*100)

24.41664662015877