# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_24048/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [50]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        


        #driver.execute_script("arguments[0].click();", next_buttons[x])
        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
#next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2002 = pd.DataFrame(rows)               
df_2002

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,21,Haissem Hassan,Right Winger,"Feb 8, 2002",22,"[France, Egypt]",France,Bagnolet,LW,"1,75",€1.80m
1,9,Junior Kadile,Right Winger,"Dec 16, 2002",21,[France],France,Rennes,LW CF,"1,80",€700k
2,23,Logan Delaurier-Chaubet,Right Winger,"Apr 22, 2002",21,[France],France,Saint-Jean-de-Verges,LW AM,"1,73",€600k
3,9,Kelian Nsona,Right Winger,"May 11, 2002",21,"[France, DR Congo]",France,Ivry-sur-Seine,LW,"1,90",€500k
4,23,Amadou Traoré,Right Winger,"Mar 7, 2002",22,"[Guinea, France]",France,Paris,LW,"1,77",€250k
5,15,Alban Alima,Right Winger,"Oct 18, 2002",21,[France],France,Bondy,RB,"1,83",-
6,,Anthony Gardette,Right Winger,"May 1, 2002",21,"[France, Spain]",France,Cluses,LW CF,,-
7,21,Kylian Tubio,Right Winger,"Apr 18, 2002",21,"[France, Spain]",France,Colmar,,,-
8,,Junior N'Diefi,Right Winger,"Dec 20, 2002",21,"[France, Cameroon]",France,Charleville-Mézières,RM,"1,75",-
9,,Zinédine Ayachi,Right Winger,"Jun 23, 2002",21,"[France, Algeria]",France,Lens,LW,"1,75",-
10,,Yanis Benahlal,Right Winger,"Oct 30, 2002",21,"[France, Algeria]",France,Dijon,LW,"1,81",-
11,,Karim Belmahi,Right Winger,"Oct 18, 2002",21,"[France, Algeria]",France,Lyon,LW,"1,74",-
12,14,Charles Costes,Right Winger,"Sep 16, 2002",21,"[France, Cote d'Ivoire]",France,Paris,LW,"1,78",-
13,19,Isaac Lihadji,Right Winger,"Apr 10, 2002",21,"[France, Comoros]",France,Marseille,LW,"1,77",€1.00m
14,29,Farès Ghedjemis,Right Winger,"Sep 6, 2002",21,"[France, Algeria]",France,Montreuil,AM LW,"1,83",€600k
15,17,Noah Fatar,Right Winger,"Feb 15, 2002",22,"[France, Morocco]",France,L'Isle-Adam,CF AM,"1,70",€500k
16,20,Maxence Rivera,Right Winger,"May 30, 2002",21,[France],France,Vénissieux,LW AM,"1,68",€300k
17,,Djibrail Dib,Right Winger,"Jul 3, 2002",21,"[Algeria, France]",France,Lyon,AM,"1,72",€150k
18,19,Moussa Diallo,Right Winger,"Nov 21, 2002",21,[France],France,,,,-
19,,Fouad Raho Moussa,Right Winger,"Aug 4, 2002",21,"[France, Algeria]",France,Metz,LW SS,,-
20,,Ismail Essami,Right Winger,"Jan 4, 2002",22,"[France, Morocco]",France,Valenciennes,,"1,83",-
21,,Matéo De Jacob,Right Winger,"Nov 30, 2002",21,[France],France,Vaulx-en-Velin,,,-
22,,Thoma Boutin,Right Winger,"Feb 4, 2002",22,"[France, Luxembourg]",France,Lorraine,LW,"1,75",-
23,,Charles Keny Mayasi,Right Winger,"Jan 2, 2002",22,"[France, DR Congo]",France,Clermont-Ferrand,LW AM,,-
24,17,Emre Eren,Right Winger,"Mar 22, 2002",21,[Türkiye],France,Gonesse,AM,"1,82",-
25,,Kylian Silvestre,Right Winger,"Aug 16, 2002",21,"[France, Guadeloupe]",France,Gonesse,LW,"1,83",-
26,,Hervé Malebe,Right Winger,"Feb 11, 2002",22,"[France, Cameroon]",France,Argenteuil,AM LW,"1,70",-
27,48,Shahin Maïri,Right Winger,"Apr 25, 2002",21,"[France, Algeria]",France,,AM LW,"1,77",-
28,,Jessim Pellissard,Right Winger,"Nov 6, 2002",21,"[Algeria, France]",France,Besançon,LW CF,"1,75",-
29,,Kana Aguiedia Ali Kellian,Right Winger,"Jan 1, 2002",22,[France],France,Metz,,,-
30,,Joss Nkongue,Right Winger,"Jan 18, 2002",22,"[France, Cameroon]",France,Toulouse,LW,"1,80",-
31,,Pierre-Noah Mabika,Right Winger,"Mar 5, 2002",22,"[DR Congo, France]",France,Paris,,"1,75",-

In [89]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_1986)

  Number             Name        Position  Date of Birth Age
0            Cyril Dalmat  Right Midfield   Oct 3, 1986   37  \
1           Khaled Gourmi  Right Midfield  Apr 18, 1986   37
2         Geoffrey Tréand  Right Midfield  Jan 16, 1986   38
3          Julien Chendri  Right Midfield  Aug 10, 1986   37
4           Marian Bănuță  Right Midfield  Aug 13, 1986   37

            Nationality Birth Country Place of Birth Other Positions Height
0  [France, Martinique]        France          Tours                   1,74  \
1     [Algeria, France]        France          Paris         LM   AM   1,74
2              [France]        France      Annemasse         LM   AM   1,78
3              [France]        France    Villecrsnes                   1,70
4     [Romania, France]        France       Toulouse                   1,75

  Market Value
0            -
1            -
2            -
3            -
4            -

## Merge all the dataframes into a single one and save the df into a csv file

In [51]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [53]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 436 entries, 0 to 435
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           436 non-null    object
 1   Name             436 non-null    object
 2   Position         436 non-null    object
 3   Date of Birth    436 non-null    object
 4   Age              436 non-null    object
 5   Nationality      436 non-null    object
 6   Birth Country    436 non-null    object
 7   Place of Birth   436 non-null    object
 8   Other Positions  436 non-null    object
 9   Height           436 non-null    object
 10  Market Value     436 non-null    object
dtypes: object(11)
memory usage: 37.6+ KB

In [54]:
df_merged.to_csv("../../data/france_rightwingers.csv", header= True, index=False)

In [55]:
df_merged

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,7,Riad Nouri,Right Winger,"Jun 7, 1985",38,"[France, Algeria]",France,Marseille,LW CF,"1,78",€200k
1,,Cyril Bagnost,Right Winger,"Jan 24, 1985",39,[France],France,Epernay,LW,"1,75",-
2,,Damien Boudjemaa,Right Winger,"Jun 7, 1985",38,"[France, Algeria]",France,Paris,AM CM,"1,73",-
3,,Benjamin Psaume,Right Winger,"Jan 12, 1985",39,[France],France,Auch,LW CF,"1,70",-
4,,Virgile Reset,Right Winger,"Aug 3, 1985",38,[France],France,Lilas,LW,"1,75",-
...,...,...,...,...,...,...,...,...,...,...,...
431,,Kiliann Marquet,Right Winger,"Apr 15, 2005",18,"[France, Italy]",France,Aix-en-Provence,LW CF,"1,84",-
432,,Enzo Cantero,Right Winger,"May 15, 2005",18,[France],France,Sainte-Foy-lès-Lyon,,"1,65",-
433,,Lenny Lankoso,Right Winger,"Jun 23, 2005",18,"[France, DR Congo]",France,Beaumont-sur-Oise,AM,,-
434,,Benoît Dureux,Right Winger,"Jun 10, 2005",18,[France],France,Valenciennes,RM,,-
435,,Kelyan Hamadi,Right Winger,"Dec 7, 2005",18,"[Comoros, France]",France,Marseille,LW AM,"1,74",-