# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_5280/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [133]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        


        #driver.execute_script("arguments[0].click();", next_buttons[x])
        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
#next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'France',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,7,Eliesse Ben Seghir,Attacking Midfield,"Feb 16, 2005",19,"[France, Morocco]",France,Saint-Tropez,SS CF,"1,78",€18.00m
1,12,Stanis Idumbo,Attacking Midfield,"Jun 29, 2005",18,"[Belgium, DR Congo]",France,Melun,LW RW,"1,71",€800k
2,,Joey Burger,Attacking Midfield,"Oct 18, 2005",18,[France],France,Haguenau,,,-
3,,Wassime Drine,Attacking Midfield,"Feb 12, 2005",19,"[France, Tunisia]",France,Saint-Denis,RW LW,,-
4,,Jérémy Mfumu,Attacking Midfield,"May 7, 2005",18,[France],France,Paris,,,-
5,,Bilal Merouga,Attacking Midfield,"Apr 27, 2005",18,"[France, Morocco]",France,Meaux,,,-
6,80,Gessime Yassine,Attacking Midfield,"Nov 22, 2005",18,"[France, Morocco]",France,Salon-de-Provence,,,-
7,,Mehdi Bekhouche,Attacking Midfield,"Mar 13, 2005",18,"[France, Algeria]",France,Saint-Avold,CF RW,"1,80",-
8,37,Andrea Dacourt,Attacking Midfield,"Jul 30, 2005",18,"[France, Guadeloupe]",France,Paris,CM,"1,84",-
9,,Wassim Bahri,Attacking Midfield,"Feb 20, 2005",19,"[France, Algeria]",France,Saint-Dié-des-Vosges,,,-
10,,Kelvin Winstersheim,Attacking Midfield,"Jan 14, 2005",19,[France],France,Moulins-sur-Allier,RW LW,,-
11,,Esteban Monetto,Attacking Midfield,"Feb 27, 2005",19,[France],France,Marseille,,,-
12,33,Désiré Doué,Attacking Midfield,"Jun 3, 2005",18,"[France, Cote d'Ivoire]",France,Angers,CM LW,"1,81",€15.00m
13,37,Mokrane Bentoumi,Attacking Midfield,"Jun 16, 2005",18,"[France, Algeria]",France,Rouen,LW,"1,69",€50k
14,27,Arda Kevin Doğan,Attacking Midfield,"Mar 30, 2005",18,"[Türkiye, France]",France,Lille,CM,"1,77",-
15,,Rayan El Djebali,Attacking Midfield,"Sep 16, 2005",18,"[France, Tunisia]",France,Décines-Charpieu,,,-
16,,Sohaib Belarbi,Attacking Midfield,"Jun 15, 2005",18,[France],France,Beauvais,,,-
17,,Noah Nacreon,Attacking Midfield,"Jun 4, 2005",18,"[France, Guadeloupe]",France,Paris,,"1,73",-
18,,Ilan Ihaddadene,Attacking Midfield,"May 29, 2005",18,"[France, Algeria]",France,Lyon,,,-
19,,Redouan Mahily,Attacking Midfield,"Mar 3, 2005",19,"[France, Morocco]",France,Tours,,"1,77",-
20,,Mohamed Amine El Idrissi,Attacking Midfield,"Apr 20, 2005",18,"[Morocco, France]",France,Orléans,LB LM,,-
21,,Noah Medalli,Attacking Midfield,"Jan 24, 2005",19,"[France, Guadeloupe]",France,Champigny-sur-Marne,,,-
22,,Adame Faïz,Attacking Midfield,"Jun 10, 2005",18,"[France, Algeria]",France,Tours,,"1,76",-

In [89]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_1986)

  Number             Name        Position  Date of Birth Age
0            Cyril Dalmat  Right Midfield   Oct 3, 1986   37  \
1           Khaled Gourmi  Right Midfield  Apr 18, 1986   37
2         Geoffrey Tréand  Right Midfield  Jan 16, 1986   38
3          Julien Chendri  Right Midfield  Aug 10, 1986   37
4           Marian Bănuță  Right Midfield  Aug 13, 1986   37

            Nationality Birth Country Place of Birth Other Positions Height
0  [France, Martinique]        France          Tours                   1,74  \
1     [Algeria, France]        France          Paris         LM   AM   1,74
2              [France]        France      Annemasse         LM   AM   1,78
3              [France]        France    Villecrsnes                   1,70
4     [Romania, France]        France       Toulouse                   1,75

  Market Value
0            -
1            -
2            -
3            -
4            -

## Merge all the dataframes into a single one and save the df into a csv file

In [134]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [135]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 706 entries, 0 to 705
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           706 non-null    object
 1   Name             706 non-null    object
 2   Position         706 non-null    object
 3   Date of Birth    706 non-null    object
 4   Age              706 non-null    object
 5   Nationality      706 non-null    object
 6   Birth Country    706 non-null    object
 7   Place of Birth   706 non-null    object
 8   Other Positions  706 non-null    object
 9   Height           706 non-null    object
 10  Market Value     706 non-null    object
dtypes: object(11)
memory usage: 60.8+ KB

In [136]:
df_merged.to_csv("../../data/france_attackingmidfields.csv", header= True, index=False)

In [137]:
df_merged

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,,Romain Ayrinhac,Attacking Midfield,"Sep 9, 1985",38,[France],France,Rodez,,"1,83",-
1,,Yann Beauregard,Attacking Midfield,"Aug 3, 1985",38,[France],France,Fontenay-sous-Bois,,"1,75",-
2,,Jordi Delclos,Attacking Midfield,"Jul 3, 1985",38,[France],France,Perpignan,LW RW,"1,70",-
3,,Leeroy Anton,Attacking Midfield,"May 4, 1985",38,[France],France,Lyon,,"1,70",-
4,,Anthony Le Gall,Attacking Midfield,"Mar 7, 1985",38,[France],France,Morlaix,LW RW,"1,74",-
...,...,...,...,...,...,...,...,...,...,...,...
701,,Ilan Ihaddadene,Attacking Midfield,"May 29, 2005",18,"[France, Algeria]",France,Lyon,,,-
702,,Redouan Mahily,Attacking Midfield,"Mar 3, 2005",19,"[France, Morocco]",France,Tours,,"1,77",-
703,,Mohamed Amine El Idrissi,Attacking Midfield,"Apr 20, 2005",18,"[Morocco, France]",France,Orléans,LB LM,,-
704,,Noah Medalli,Attacking Midfield,"Jan 24, 2005",19,"[France, Guadeloupe]",France,Champigny-sur-Marne,,,-
705,,Adame Faïz,Attacking Midfield,"Jun 10, 2005",18,"[France, Algeria]",France,Tours,,"1,76",-