## Imports

In [1]:
import pandas as pd

In [2]:
df_global = pd.DataFrame

In [3]:
df_gk = pd.read_csv("../../data/brazil/brazil_goalkeepers.csv")
df_cb = pd.read_csv("../../data/brazil/brazil_centerbacks.csv")
df_lb = pd.read_csv("../../data/brazil/brazil_leftbacks.csv")
df_rb = pd.read_csv("../../data/brazil/brazil_rightbacks.csv")
df_dm = pd.read_csv("../../data/brazil/brazil_defensivemidfields.csv")
df_cm = pd.read_csv("../../data/brazil/brazil_centralmidfields.csv")
df_rm = pd.read_csv("../../data/brazil/brazil_rightmidfields.csv")
df_lm = pd.read_csv("../../data/brazil/brazil_leftmidfields.csv")
df_am = pd.read_csv("../../data/brazil/brazil_attackingmidfields.csv")
df_lw = pd.read_csv("../../data/brazil/brazil_leftwingers.csv")
df_rw = pd.read_csv("../../data/brazil/brazil_rightwingers.csv")
df_st = pd.read_csv("../../data/brazil/brazil_secondstrikers.csv")
df_cf = pd.read_csv("../../data/brazil/brazil_centerforwards.csv")

## Merge all the dataframes

In [4]:
df_global = pd.concat([df_gk, df_cb, df_lb, df_rb, df_dm, df_cm, df_rm, df_lm, df_am, df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [5]:
df_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14697 entries, 0 to 14696
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           3199 non-null   float64
 1   Name             14697 non-null  object
 2   Position         14697 non-null  object
 3   Date of Birth    14697 non-null  object
 4   Age              14692 non-null  object
 5   Nationality      14697 non-null  object
 6   Birth Country    14697 non-null  object
 7   Place of Birth   10878 non-null  object
 8   Height           12539 non-null  object
 9   Market Value     14697 non-null  object
 10  Other Positions  7480 non-null   object
dtypes: float64(1), object(10)
memory usage: 1.2+ MB

## Goalkeepers

In [6]:
df_gk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1313 entries, 0 to 1312
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Number          238 non-null    float64
 1   Name            1313 non-null   object
 2   Position        1313 non-null   object
 3   Date of Birth   1313 non-null   object
 4   Age             1312 non-null   object
 5   Nationality     1313 non-null   object
 6   Birth Country   1313 non-null   object
 7   Place of Birth  915 non-null    object
 8   Height          1087 non-null   object
 9   Market Value    1313 non-null   object
dtypes: float64(1), object(9)
memory usage: 102.7+ KB

In [7]:
print(len(df_gk)/len(df_global)*100)

8.933796012791726

## Defenders

In [8]:
df_defenders = pd.concat([ df_cb, df_lb, df_rb],ignore_index=True)

In [9]:
df_defenders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4633 entries, 0 to 4632
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           963 non-null    float64
 1   Name             4633 non-null   object
 2   Position         4633 non-null   object
 3   Date of Birth    4633 non-null   object
 4   Age              4633 non-null   object
 5   Nationality      4633 non-null   object
 6   Birth Country    4633 non-null   object
 7   Place of Birth   3410 non-null   object
 8   Other Positions  1812 non-null   object
 9   Height           3984 non-null   object
 10  Market Value     4633 non-null   object
dtypes: float64(1), object(10)
memory usage: 398.3+ KB

In [10]:
print(len(df_defenders)/len(df_global)*100)

31.523440157855344

## Midfielders

In [11]:
df_midfielders = pd.concat([df_dm, df_cm, df_rm, df_lm, df_am],ignore_index=True)

In [12]:
df_midfielders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4627 entries, 0 to 4626
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           876 non-null    float64
 1   Name             4627 non-null   object
 2   Position         4627 non-null   object
 3   Date of Birth    4627 non-null   object
 4   Age              4626 non-null   object
 5   Nationality      4627 non-null   object
 6   Birth Country    4627 non-null   object
 7   Place of Birth   3382 non-null   object
 8   Other Positions  3097 non-null   object
 9   Height           3855 non-null   object
 10  Market Value     4627 non-null   object
dtypes: float64(1), object(10)
memory usage: 397.8+ KB

In [13]:
print(len(df_midfielders)/len(df_global)*100)

31.482615499761856

## Strikers

In [14]:
df_strikers = pd.concat([df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [15]:
df_strikers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4124 entries, 0 to 4123
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1122 non-null   float64
 1   Name             4124 non-null   object
 2   Position         4124 non-null   object
 3   Date of Birth    4124 non-null   object
 4   Age              4121 non-null   object
 5   Nationality      4124 non-null   object
 6   Birth Country    4124 non-null   object
 7   Place of Birth   3171 non-null   object
 8   Other Positions  2571 non-null   object
 9   Height           3613 non-null   object
 10  Market Value     4124 non-null   object
dtypes: float64(1), object(10)
memory usage: 354.5+ KB

In [16]:
print(len(df_strikers)/len(df_global)*100)

28.060148329591073

In [18]:
df_global.to_csv("../../data/brazil/brazil_global.csv", header= True, index=False)