# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [227]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_80990/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [96]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [314]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        

        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
#next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_1992 = pd.DataFrame(rows)               
df_1992

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,8,Oscar,Attacking Midfield,"Sep 9, 1991",32,"[Brazil, Italy]",Brazil,Americana,CM LW,"1,80",€5.00m
1,40,Guilherme,Attacking Midfield,"May 21, 1991",32,[Brazil],Brazil,Três Rios,CM RW,"1,74",€1.00m
2,7,Gustavo,Attacking Midfield,"Nov 14, 1991",32,"[Brazil, Italy]",Brazil,Sao Paulo,RW LW,"1,74",€700k
3,,Fellipe Mateus,Attacking Midfield,"Feb 12, 1991",33,[Brazil],Brazil,Campina Grande,CM,"1,78",€400k
4,,Chico Kim,Attacking Midfield,"May 16, 1991",32,"[Brazil, Paraguay]",Brazil,Cascavel,SS LW,"1,75",€350k
...,...,...,...,...,...,...,...,...,...,...,...
80,,Raphael Costa,Attacking Midfield,"May 7, 1991",32,[Brazil],Brazil,Natal,,"1,70",-
81,,Fabio,Attacking Midfield,"May 22, 1991",32,[Brazil],Brazil,,SS RW,"1,77",-
82,,Carlyle,Attacking Midfield,"Sep 26, 1991",32,[Brazil],Brazil,Goiânia,LW RW,,-
83,,Almir,Attacking Midfield,"Mar 3, 1991",33,[Brazil],Brazil,Belém,LW,"1,74",-
84,,Ricardo Goulart,Attacking Midfield,"Jun 5, 1991",32,"[Brazil, China]",Brazil,São Paulo,SS CF,"1,81",-

In [291]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_1988)

   Number               Name            Position  Date of Birth Age
0      10  Vinicius Calamari  Attacking Midfield   Jun 1, 1988   35  \
1                  Romarinho  Attacking Midfield   Aug 8, 1988   35
2                    Fabinho  Attacking Midfield  Jul 24, 1988   35
3                   Jussimar  Attacking Midfield   Oct 7, 1988   35
4                Rafael Vila  Attacking Midfield   Feb 4, 1988   36
5             Hedipo Gustavo  Attacking Midfield   Feb 7, 1988   36
6                    Rodrigo  Attacking Midfield  Mar 29, 1988   35
7                   Clebinho  Attacking Midfield  Jan 14, 1988   36
8                     Otávio  Attacking Midfield   Jun 8, 1988   35
9             Eder Guerreiro  Attacking Midfield   Nov 1, 1988   35
10                   Rubinho  Attacking Midfield  Aug 24, 1988   35
11             Lucas Marques  Attacking Midfield   Dec 6, 1988   35
12                Jorge Luiz  Attacking Midfield   Jan 3, 1988   36
13             Adham Mossoró  Attacking Midfield  Jun 16, 1988   35
14                     Robby  Attacking Midfield  Nov 15, 1988   35
15                Washington  Attacking Midfield  Aug 24, 1988   35
16             Diogo Peixoto  Attacking Midfield   Mar 3, 1988   36
17                      Kanu  Attacking Midfield  Nov 21, 1988   35
18            Hugo De Marchi  Attacking Midfield  Jan 19, 1988   36
19           Felipe Ferreira  Attacking Midfield  Sep 22, 1988   35
20     10       Bruno Torres  Attacking Midfield   Jun 9, 1988   35
21                    Kariri  Attacking Midfield  Feb 21, 1988   36
22                      Memo  Attacking Midfield  Feb 14, 1988   36
23                 Djalminha  Attacking Midfield  Apr 15, 1988   35
24                    Júnior  Attacking Midfield   May 7, 1988   35
25                   Marques  Attacking Midfield  Nov 11, 1988   35
26                   Rafinha  Attacking Midfield   Oct 7, 1988   35
27                     Edmar  Attacking Midfield  Sep 19, 1988   35
28                Diego Lima  Attacking Midfield  Sep 30, 1988   35
29              Mauro Alonso  Attacking Midfield  Aug 12, 1988   35
30                    Didira  Attacking Midfield   Jun 9, 1988   35
31            Thiago Carioca  Attacking Midfield   Feb 8, 1988   36
32                    Robson  Attacking Midfield  Apr 26, 1988   35
33                  Leozinho  Attacking Midfield   Jun 7, 1988   35
34                   Pereira  Attacking Midfield  Aug 19, 1988   35
35               Vítor Huvos  Attacking Midfield   Jul 8, 1988   35
36              Jean Carioca  Attacking Midfield   Jun 1, 1988   35
37               Rodriguinho  Attacking Midfield  Mar 27, 1988   35
38          Adriano Da Matta  Attacking Midfield  Jul 12, 1988   35
39          Leandro Oliveira  Attacking Midfield   Jan 2, 1988   36
40             Rafael Chorão  Attacking Midfield  Aug 26, 1988   35
41                   Mazinho  Attacking Midfield  Dec 25, 1988   35
42          Fernando Gabriel  Attacking Midfield  May 11, 1988   35
43              Daniel Costa  Attacking Midfield   Apr 5, 1988   35
44           Rodrigo Andrade  Attacking Midfield   Feb 5, 1988   36
45                  Luizinho  Attacking Midfield  Feb 16, 1988   36
46                Igor Alves  Attacking Midfield  Apr 24, 1988   35
47               João Cléber  Attacking Midfield  Apr 18, 1988   35
48         Kleiton Domingues  Attacking Midfield   Apr 2, 1988   35
49                     Jairo  Attacking Midfield  Aug 31, 1988   35
50          Rodrigo Paulista  Attacking Midfield  Jan 11, 1988   36
51                   Rodrigo  Attacking Midfield  Jan 10, 1988   36
52             Milton Júnior  Attacking Midfield  Jul 15, 1988   35
53              Alex Willian  Attacking Midfield  Mar 18, 1988   36
54          Edilson Barbossa  Attacking Midfield  Aug 11, 1988   35
55              Yannick Pupo  Attacking Midfield  Jun 17, 1988   35
56                 Cristiano  Attacking Midfield  Mar 15, 1988   36
57                 Guilherme  Attacking Midfield  Oct 22, 1988   35
58            Felipe Menezes  Attacking Midfield  Jan 20, 1988   36
59                     Ramón  Attacking Midfield  May 24, 1988   35
60                  Celsinho  Attacking Midfield  Aug 25, 1988   35
61                     Tacio  Attacking Midfield  Jan 21, 1988   36
62                     Hegon  Attacking Midfield   May 6, 1988   35
63            Felipe Canavan  Attacking Midfield   Jun 3, 1988   35
64                      Pety  Attacking Midfield  Mar 12, 1988   36
65             Renan Bressan  Attacking Midfield   Nov 3, 1988   35
66               Danilo Rios  Attacking Midfield   Jun 9, 1988   35
67             Pedro Carmona  Attacking Midfield  Apr 15, 1988   35
68                   Rafinha  Attacking Midfield  Dec 23, 1988   35
69                Allan Dias  Attacking Midfield  Oct 19, 1988   35
70                      Kadu  Attacking Midfield   Aug 4, 1988   35
71                    Kerlon  Attacking Midfield  Jan 27, 1988   36
72                    Robson  Attacking Midfield  Aug 30, 1988   35

           Nationality Birth Country           Place of Birth Other Positions
0             [Brazil]        Brazil              Nova Iguaçu              SS  \
1             [Brazil]        Brazil                 Barbalha         SS   CF
2             [Brazil]        Brazil                  Vacaria
3             [Brazil]        Brazil                 Rio Real              RW
4             [Brazil]        Brazil  Nossa Senhora da Glória              CM
5             [Brazil]        Brazil                  Ibirama         LW   CM
6     [Brazil, Greece]        Brazil     Sao Jose dos Pinhais              CF
7             [Brazil]        Brazil                 São José              RM
8             [Brazil]        Brazil           Rio de Janeiro         RW   LW
9             [Brazil]        Brazil                 Salvador         LW   RW
10            [Brazil]        Brazil                                  LW   RW
11     [Brazil, Italy]        Brazil                São Paulo         LW   RW
12            [Brazil]        Brazil           Rio de Janeiro         LW   LB
13            [Brazil]        Brazil                  Mossoró              RW
14            [Brazil]        Brazil                 Rondônia
15            [Brazil]        Brazil        Tuneiras do Oeste
16            [Brazil]        Brazil                   Recife              CM
17            [Brazil]        Brazil             Campo Grande         CF   LM
18     [Brazil, Italy]        Brazil                    Cambé         CM   RM
19            [Brazil]        Brazil           Rio de Janeiro         SS   RW
20  [Brazil, Portugal]        Brazil            Independência         LW   RW
21            [Brazil]        Brazil                Araguaína         RW   LW
22            [Brazil]        Brazil                   Bonito         CM   CB
23            [Brazil]        Brazil                 Januária
24     [Brazil, Italy]        Brazil            Linhares (ES)         LW   RW
25            [Brazil]        Brazil
26            [Brazil]        Brazil                Guarulhos
27            [Brazil]        Brazil                   Maceió              RW
28            [Brazil]        Brazil          Duque de Caxias         LW   SS
29            [Brazil]        Brazil               São Carlos         CM   LM
30            [Brazil]        Brazil                Arapiraca         LW   RW
31            [Brazil]        Brazil           Rio de Janeiro
32     [Brazil, Japan]        Brazil                  Marilia              CM
33            [Brazil]        Brazil                    Ceará         RW   LM
34            [Brazil]        Brazil                São Paulo
35     [Brazil, Italy]        Brazil                São Paulo         LM   SS
36            [Brazil]        Brazil           Rio de Janeiro         RW   CM
37            [Brazil]        Brazil                    Natal         CM   SS
38  [Brazil, Portugal]        Brazil              Santo André         CM   SS
39            [Brazil]        Brazil             Campo Grande         LW   RW
40            [Brazil]        Brazil                Americana         CM   DM
41            [Brazil]        Brazil                 Garopaba         LW   RW
42            [Brazil]        Brazil                 Eldorado         LW   RW
43            [Brazil]        Brazil               Piracicaba         CM   RM
44            [Brazil]        Brazil           Rio de Janeiro         LW   RW
45            [Brazil]        Brazil       Senador Melo Viana         LW   RW
46            [Brazil]        Brazil           Rio de Janeiro              LW
47            [Brazil]        Brazil                Bom Jesus
48            [Brazil]        Brazil     Vitória da Conquista         LW   RW
49            [Brazil]        Brazil                    Picos
50            [Brazil]        Brazil                São Paulo
51   [Brazil, Germany]        Brazil                  Chapecó
52            [Brazil]        Brazil                São Paulo
53            [Brazil]        Brazil                  Piquete         LW   RW
54  [Brazil, Portugal]        Brazil                São Paulo              CF
55            [Brazil]        Brazil                São Paulo
56            [Brazil]        Brazil         Feira de Santana
57            [Brazil]        Brazil               Imperatriz         LW   CF
58     [Brazil, Italy]        Brazil                  Goiânia         RW   LW
59            [Brazil]        Brazil                 Nova Era         SS   LW
60            [Brazil]        Brazil                Americana              SS
61            [Brazil]        Brazil
62            [Brazil]        Brazil                  Palhoça         RM   LM
63            [Brazil]        Brazil               Cataguases
64            [Brazil]        Brazil                   Franca
65   [Belarus, Brazil]        Brazil                  Tubarão         CM   RW
66            [Brazil]        Brazil                 Jacobina         LM   LW
67            [Brazil]        Brazil             Porto Alegre         RW   LW
68            [Brazil]        Brazil              Três Lagoas
69            [Brazil]        Brazil           Rio de Janeiro         CM   SS
70            [Brazil]        Brazil               Jales (SP)
71            [Brazil]        Brazil                 Ipatinga         SS   LW
72            [Brazil]        Brazil                 Salvador

   Height Market Value
0    1,77        €100k
1    1,67            -
2    1,72            -
3    1,67            -
4    1,68            -
5    1,74            -
6    1,75            -
7    1,79            -
8    1,74            -
9    1,79            -
10   1,72            -
11   1,83            -
12   1,78            -
13   1,74            -
14   1,82            -
15   1,72            -
16   1,70            -
17   1,93            -
18   1,80            -
19   1,84            -
20   1,76            -
21   1,70            -
22   1,79            -
23   1,79            -
24   1,80            -
25   1,81            -
26   1,86            -
27   1,73            -
28   1,76            -
29   1,80            -
30   1,71            -
31   1,73            -
32   1,75            -
33   1,70            -
34   1,83            -
35   1,81            -
36   1,76            -
37   1,77            -
38   1,73            -
39   1,72            -
40   1,82            -
41   1,76            -
42   1,79            -
43   1,83            -
44   1,77            -
45   1,73            -
46   1,77            -
47   1,72            -
48   1,73            -
49   1,72            -
50   1,84            -
51   1,77            -
52   1,78            -
53   1,81            -
54   1,82            -
55   1,75            -
56   1,68            -
57   1,76            -
58   1,85            -
59   1,81            -
60   1,77            -
61   1,73            -
62   1,77            -
63   1,76            -
64   1,77            -
65   1,82            -
66   1,77            -
67   1,77            -
68   1,78            -
69   1,88            -
70   1,85            -
71   1,66            -
72   1,72            -

## Merge all the dataframes into a single one and save the df into a csv file

In [188]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [189]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           816 non-null    object
 1   Name             816 non-null    object
 2   Position         816 non-null    object
 3   Date of Birth    816 non-null    object
 4   Age              816 non-null    object
 5   Nationality      816 non-null    object
 6   Birth Country    816 non-null    object
 7   Place of Birth   816 non-null    object
 8   Other Positions  816 non-null    object
 9   Height           816 non-null    object
 10  Market Value     816 non-null    object
dtypes: object(11)
memory usage: 70.2+ KB

In [190]:
df_merged.to_csv("../../data/brazil/brazil_attackingmidfields.csv", header= True, index=False)