# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_53894/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [227]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        


        #driver.execute_script("arguments[0].click();", next_buttons[x])
        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
#next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,8,Léo Derik,Left-Back,"Jul 24, 2005",18,[Brazil],Brazil,São Paulo,LM LW,"1,66",€150k
1,,Gustavo Daniel,Left-Back,"Mar 7, 2005",19,[Brazil],Brazil,Nísia Floresta,,,€50k
2,,Vitinho Ramos,Left-Back,"Sep 7, 2005",18,[Brazil],Brazil,,LM,"1,77",-
3,,Paulo Henrique,Left-Back,"Apr 11, 2005",18,[Brazil],Brazil,,,,-
4,,Kauã Oliveira,Left-Back,"Mar 24, 2005",18,[Brazil],Brazil,,,,-
5,,Lucas Santos,Left-Back,"Feb 16, 2005",19,[Brazil],Brazil,Salvador,,"1,80",-
6,,Eduardo Gabriel,Left-Back,"Jun 17, 2005",18,[Brazil],Brazil,,,,-
7,20,Arthur Gabriel,Left-Back,"Sep 4, 2005",18,[Brazil],Brazil,São Paulo,,"1,76",-
8,,Ainoã,Left-Back,"Feb 1, 2005",19,[Brazil],Brazil,,,"1,86",-
9,,Léo Garbi,Left-Back,"Jan 13, 2005",19,[Brazil],Brazil,Marília,,"1,87",-
10,,Felipe Vieira,Left-Back,"Feb 9, 2005",19,[Brazil],Brazil,,,,-
11,,Leandrinho,Left-Back,"Mar 17, 2005",18,[Brazil],Brazil,Rio de Janeiro,LW,"1,70",-
12,5,Víctor Bonmati,Left-Back,"Jan 9, 2005",19,"[Brazil, Spain]",Brazil,Brasil,LW,"1,78",-
13,6,Zé Guilherme,Left-Back,"Mar 16, 2005",18,[Brazil],Brazil,Fortaleza,,,€100k
14,,Richard,Left-Back,"Jan 18, 2005",19,[Brazil],Brazil,Sumaré,,"1,75",€50k
15,,Kayky,Left-Back,"Aug 4, 2005",18,[Brazil],Brazil,Campo Grande,CB,"1,83",-
16,,Orlando,Left-Back,"Apr 12, 2005",18,[Brazil],Brazil,,RB,"1,75",-
17,,Enzo Rocha,Left-Back,"May 5, 2005",18,[Brazil],Brazil,,DM,,-
18,,Julio César,Left-Back,"May 9, 2005",18,[Brazil],Brazil,,LW,,-
19,,Alex Martins,Left-Back,"Feb 10, 2005",19,[Brazil],Brazil,São Paulo,LW LM,"1,73",-
20,,Jefferson França,Left-Back,"Jul 10, 2005",18,[Brazil],Brazil,São Luís,,,-
21,,Lucio Flavio,Left-Back,"Aug 12, 2005",18,[Brazil],Brazil,,,,-
22,,Alex Ferreira,Left-Back,"Mar 29, 2005",18,[Brazil],Brazil,,,"1,77",-
23,,Bernardo,Left-Back,"Mar 5, 2005",19,[Brazil],Brazil,,,,-
24,,Matheus Streit,Left-Back,"Aug 18, 2005",18,[Brazil],Brazil,São Bento do Sul,,,-
25,,Hiago Alves,Left-Back,"Sep 2, 2005",18,[Brazil],Brazil,Porto Alegre,AM LW,"1,65",-

In [201]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_2002)

   Number                           Name   Position  Date of Birth Age
0       6                      Vanderlan  Left-Back   Sep 7, 2002   21  \
1      23                       Pedrinho  Left-Back  Jul 11, 2002   21
2      31                      Guilherme  Left-Back  Feb 14, 2002   22
3       4                          Neném  Left-Back  Jan 26, 2002   22
4                           Juan Tavares  Left-Back  Apr 25, 2002   21
5                                 Raimar  Left-Back  May 27, 2002   21
6      26                       Pedrinho  Left-Back  Jun 24, 2002   21
7                                   Enzo  Left-Back  Oct 25, 2002   21
8                          Willian Bahia  Left-Back  Feb 14, 2002   22
9                                   Enzo  Left-Back  Jul 18, 2002   21
10                           Lucas Manga  Left-Back  Nov 23, 2002   21
11     13                 Gustavo Vieira  Left-Back  May 28, 2002   21
12                                Felipe  Left-Back  Nov 28, 2002   21
13     45                       Riquelme  Left-Back  Aug 28, 2002   21
14     66                    Ryan Carlos  Left-Back  May 14, 2002   21
15     27                     Caio Roque  Left-Back   Jan 9, 2002   22
16                           Jean Carlos  Left-Back  Sep 19, 2002   21
17                           Thiago Rosa  Left-Back  Mar 18, 2002   21
18                             Guilherme  Left-Back  Aug 14, 2002   21
19                               Jefinho  Left-Back  Jan 14, 2002   22
20                          Lucas Loredo  Left-Back   Dec 2, 2002   21
21                                  Caio  Left-Back  Jul 22, 2002   21
22                      Gabriel Salvador  Left-Back  Dec 12, 2002   21
23                                Varoli  Left-Back  Dec 17, 2002   21
24                                 Peter  Left-Back  Jul 26, 2002   21
25                                  Alan  Left-Back  May 31, 2002   21
26                            Caio Gomes  Left-Back   Jul 6, 2002   21
27                              Rychelmy  Left-Back  May 26, 2002   21
28                                Romero  Left-Back  Jun 28, 2002   21
29                          Arthur Neves  Left-Back  Jan 31, 2002   22
30                           David Lopes  Left-Back   May 1, 2002   21
31                          João Roberto  Left-Back  Apr 22, 2002   21
32                       Matheus Marques  Left-Back  Apr 17, 2002   21
33                               Matheus  Left-Back  Sep 24, 2002   21
34                      Gustavo Mesquita  Left-Back   Dec 4, 2002   21
35                            Caio Mores  Left-Back  Jun 11, 2002   21
36                              Jeferson  Left-Back  Jan 26, 2002   22
37                               Wesllen  Left-Back  Jan 28, 2002   22
38                                 Tarik  Left-Back  Jun 25, 2002   21
39                         Natan Pereira  Left-Back  Jul 27, 2002   21
40                               Gabriel  Left-Back  Jan 24, 2002   22
41                          Cauet Werner  Left-Back   Oct 1, 2002   21
42                                 Nathã  Left-Back   Mar 5, 2002   22
43                              Deivison  Left-Back   Jun 8, 2002   21
44                         Davi Oliveira  Left-Back   Aug 7, 2002   21
45                                Vidmar  Left-Back  Mar 25, 2002   21
46                              Jonathan  Left-Back   Jul 1, 2002   21
47                              Jonathan  Left-Back  Oct 26, 2002   21
48                            Pedro Maia  Left-Back   Jun 4, 2002   21
49     14                      Guilherme  Left-Back   Nov 4, 2002   21
50                              Henrique  Left-Back  Jan 30, 2002   22
51                              Jonathan  Left-Back   May 9, 2002   21
52                              Athirson  Left-Back  May 16, 2002   21
53         Lucas Henrique Belem Nacarato  Left-Back   Jun 7, 2002   21
54                               Eduardo  Left-Back  Mar 17, 2002   21
55                     Gabriel Rodrigues  Left-Back   Jan 4, 2002   22
56                        Vinicius Nucci  Left-Back  Apr 11, 2002   21
57                          Pedro Acácio  Left-Back  Jun 28, 2002   21
58                       Leonardo Felipe  Left-Back   Apr 5, 2002   21
59                          Rodrigo Rosa  Left-Back  May 24, 2002   21
60                         Diogo Freitas  Left-Back   Jul 5, 2002   21
61                               Emerson  Left-Back   Jul 3, 2002   21

           Nationality Birth Country         Place of Birth Other Positions
0             [Brazil]        Brazil                Brumado                  \
1             [Brazil]        Brazil               Salvador
2             [Brazil]        Brazil               Brasília
3             [Brazil]        Brazil    Angra dos Reis (RJ)         CM   CB
4             [Brazil]        Brazil              Nova Lima
5             [Brazil]        Brazil                 Manaus         AM   LW
6      [Brazil, Italy]        Brazil             São Mateus
7             [Brazil]        Brazil              São Paulo              CB
8             [Brazil]        Brazil       Lauro de Freitas
9             [Brazil]        Brazil                 Santos              AM
10            [Brazil]        Brazil
11            [Brazil]        Brazil              Guarulhos              CB
12            [Brazil]        Brazil
13            [Brazil]        Brazil            Barra Mansa
14            [Brazil]        Brazil                Diadema
15            [Brazil]        Brazil              São Paulo
16            [Brazil]        Brazil               Itápolis
17            [Brazil]        Brazil         Capão da Canoa
18            [Brazil]        Brazil              São Paulo
19            [Brazil]        Brazil         Rio de Janeiro              LM
20   [Brazil, Uruguay]        Brazil  Santana do Livramento              LM
21            [Brazil]        Brazil
22            [Brazil]        Brazil         Capão da Canoa
23     [Brazil, Italy]        Brazil              São Paulo         LW   LM
24            [Brazil]        Brazil
25            [Brazil]        Brazil                                     DM
26            [Brazil]        Brazil               Curitiba              RB
27            [Brazil]        Brazil
28            [Brazil]        Brazil
29            [Brazil]        Brazil         Rio de Janeiro              AM
30            [Brazil]        Brazil                                     LW
31            [Brazil]        Brazil                 Santos
32            [Brazil]        Brazil             Guaianases              RB
33            [Brazil]        Brazil                Pelotas              DM
34            [Brazil]        Brazil                                LW   SS
35            [Brazil]        Brazil
36            [Brazil]        Brazil
37            [Brazil]        Brazil           Porto Alegre
38            [Brazil]        Brazil         Rio de Janeiro
39            [Brazil]        Brazil
40            [Brazil]        Brazil                                     DM
41  [Brazil, Portugal]        Brazil         Rio de Janeiro         CM   CB
42            [Brazil]        Brazil               Valinhos              DM
43            [Brazil]        Brazil                Aracaju         DM   LM
44            [Brazil]        Brazil
45            [Brazil]        Brazil           Porto Alegre
46            [Brazil]        Brazil
47            [Brazil]        Brazil
48            [Brazil]        Brazil
49            [Brazil]        Brazil                                LM   AM
50            [Brazil]        Brazil
51            [Brazil]        Brazil              Boa Vista
52            [Brazil]        Brazil                 Cuiabá
53     [Brazil, Italy]        Brazil         Ribeirao Preto              LM
54            [Brazil]        Brazil                                     DM
55            [Brazil]        Brazil              São Paulo         LM   LW
56            [Brazil]        Brazil       Águas de Lindóia
57            [Brazil]        Brazil        Duque de Caxias         LW   CB
58            [Brazil]        Brazil                                     DM
59            [Brazil]        Brazil                                CB   LM
60            [Brazil]        Brazil                                DM   CM
61            [Brazil]        Brazil      Senador La Rocque

   Height Market Value
0    1,83       €4.00m
1    1,77       €1.00m
2    1,78        €450k
3    1,82        €200k
4    1,79        €150k
5    1,75        €150k
6    1,80        €100k
7    1,85         €50k
8                    -
9    1,80            -
10   1,80            -
11   1,80            -
12                   -
13   1,73       €1.50m
14   1,72        €500k
15   1,82        €400k
16   1,75        €200k
17   1,84        €150k
18   1,80        €100k
19   1,75         €50k
20   1,82         €15k
21                   -
22   1,68            -
23   1,73            -
24   1,75            -
25   1,73            -
26   1,77            -
27   1,72            -
28                   -
29   1,70            -
30   1,75            -
31   1,80            -
32   1,82            -
33   1,79            -
34   1,74            -
35   1,75            -
36   1,83            -
37   1,81            -
38                   -
39   1,74            -
40   1,86            -
41   1,83            -
42   1,80            -
43   1,82            -
44   1,80            -
45   1,70            -
46                   -
47                   -
48   1,78            -
49   1,79            -
50   1,76            -
51   1,80            -
52   1,71            -
53   1,78            -
54   1,73            -
55   1,70            -
56   1,80            -
57   1,74            -
58   1,79            -
59   1,79            -
60   1,76            -
61                   -

## Merge all the dataframes into a single one and save the df into a csv file

In [228]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [229]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1083 entries, 0 to 1082
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1083 non-null   object
 1   Name             1083 non-null   object
 2   Position         1083 non-null   object
 3   Date of Birth    1083 non-null   object
 4   Age              1083 non-null   object
 5   Nationality      1083 non-null   object
 6   Birth Country    1083 non-null   object
 7   Place of Birth   1083 non-null   object
 8   Other Positions  1083 non-null   object
 9   Height           1083 non-null   object
 10  Market Value     1083 non-null   object
dtypes: object(11)
memory usage: 93.2+ KB

In [230]:
df_merged.to_csv("../../data/brazil/brazil_leftbacks.csv", header= True, index=False)