# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_95704/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [198]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        

        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
#next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,19,Vitor Roque,Centre-Forward,"Feb 28, 2005",19,[Brazil],Brazil,Timóteo,LW RW,"1,72",€40.00m
1,,Weliton,Centre-Forward,"Apr 13, 2005",18,[Brazil],Brazil,Soledade,,"1,86",€100k
2,,Lucas Paschoaloto,Centre-Forward,"May 14, 2005",18,[Brazil],Brazil,,,,-
3,,Renatinho,Centre-Forward,"Apr 14, 2005",18,[Brazil],Brazil,Manaus,SS,"1,78",-
4,9,Gustavão,Centre-Forward,"Jan 4, 2005",19,[Brazil],Brazil,Pirapora/MG,,"1,88",-
5,,Mateus Patolino,Centre-Forward,"Jun 13, 2005",18,[Brazil],Brazil,Piracicaba,RW LW,"1,76",-
6,,Carlos Henrique,Centre-Forward,"Jan 29, 2005",19,[Brazil],Brazil,,,,-
7,,João Soares,Centre-Forward,"Feb 13, 2005",19,[Brazil],Brazil,João Pessoa,,"1,86",-
8,,Pedro Estevam,Centre-Forward,"Jan 1, 2005",19,[Brazil],Brazil,,,"1,91",-
9,,Samuel,Centre-Forward,"Jan 27, 2005",19,[Brazil],Brazil,Teixeira de Freitas,,"1,86",-
10,,Andrey,Centre-Forward,"May 30, 2005",18,[Brazil],Brazil,,,,-
11,,Paulo Roberto,Centre-Forward,"May 20, 2005",18,[Brazil],Brazil,Tianguá,,,-
12,,Pedro Severino,Centre-Forward,"Nov 30, 2005",18,[Brazil],Brazil,Ribeirão Preto,AM,,-
13,36,Deivid Washington,Centre-Forward,"Jun 5, 2005",18,[Brazil],Brazil,Itumbiara,LW RW,"1,87",€9.00m
14,,Thomaz,Centre-Forward,"Aug 2, 2005",18,[Brazil],Brazil,,,,-
15,,Thalles,Centre-Forward,"Apr 28, 2005",18,[Brazil],Brazil,Rio de Janeiro,,,-
16,,Rikelme,Centre-Forward,"May 1, 2005",18,[Brazil],Brazil,,,"1,85",-
17,,Dyego,Centre-Forward,"Aug 24, 2005",18,[Brazil],Brazil,,,"1,83",-
18,9,Titto,Centre-Forward,"Jul 4, 2005",18,[Brazil],Brazil,Fortaleza - Ceara,SS RW,,-
19,,Lucas Pastor,Centre-Forward,"Jan 31, 2005",19,[Brazil],Brazil,,,"1,85",-
20,9,Nathan Wilhian,Centre-Forward,"May 22, 2005",18,[Brazil],Brazil,,SS,"1,85",-
21,9,Gustavo Santana,Centre-Forward,"Sep 2, 2005",18,[Brazil],Brazil,,SS,"1,83",-
22,,Paulo Vinicius,Centre-Forward,"Jun 23, 2005",18,[Brazil],Brazil,,,"1,76",-
23,,Kauê Ricardo,Centre-Forward,"Jan 31, 2005",19,[Brazil],Brazil,,SS,"1,88",-
24,,GB,Centre-Forward,"Jan 5, 2005",19,[Brazil],Brazil,Rio de Janeiro,,"1,90",-
25,9,Thalys,Centre-Forward,"Feb 22, 2005",19,[Brazil],Brazil,São Miguel dos Campos,SS RW,"1,84",-
26,,Pablo Guilherme,Centre-Forward,"May 1, 2005",18,[Brazil],Brazil,Mossoró,,"1,81",-
27,36,Matheus Yudi Kuwamoto,Centre-Forward,"Sep 10, 2005",18,[Brazil],Brazil,,RW,"1,74",-
28,,Gabriel Cardoso,Centre-Forward,"Feb 5, 2005",19,[Brazil],Brazil,Ourinhos,,"1,86",-
29,,Jardiel,Centre-Forward,"May 21, 2005",18,[Brazil],Brazil,Aracaju,,,-

In [178]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_2003)

   Number                  Name        Position  Date of Birth Age
0      36       Marcos Leonardo  Centre-Forward   May 2, 2003   20  \
1      45                 Lucca  Centre-Forward   Apr 2, 2003   20
2      78        Renato Marques  Centre-Forward   Dec 9, 2003   20
3      26          Ruan Ribeiro  Centre-Forward  Aug 15, 2003   20
4                  Marcos André  Centre-Forward   Mar 1, 2003   21
5      17       Vitor Gonçalves  Centre-Forward   Jan 9, 2003   21
6                  Jailson Cauã  Centre-Forward  Apr 17, 2003   20
7      33  Sergio Macedo Farias  Centre-Forward  Oct 11, 2003   20
8                   Lucas Gomes  Centre-Forward   Apr 7, 2003   20
9                         Allan  Centre-Forward  Aug 11, 2003   20
10             Ricardo Oliveira  Centre-Forward   Feb 1, 2003   21
11     99          Lucas Macedo  Centre-Forward  Oct 21, 2003   20
12                      Lorenzo  Centre-Forward  Nov 16, 2003   20
13     17               Giovane  Centre-Forward  Nov 24, 2003   20
14     99       Matheus Machado  Centre-Forward  Mar 13, 2003   21
15     19         Talles Wander  Centre-Forward  Oct 24, 2003   20
16                 Arthur Sousa  Centre-Forward  Mar 12, 2003   21
17                       Denzel  Centre-Forward  Jan 20, 2003   21
18               André Henrique  Centre-Forward  Apr 12, 2003   20
19                 Ezequiel Ivo  Centre-Forward  Feb 26, 2003   21
20     70                Luizão  Centre-Forward  Feb 19, 2003   21
21              Gustavo Furtado  Centre-Forward   Mar 3, 2003   21
22                      Jonatha  Centre-Forward   Apr 8, 2003   20
23                 Luís Rogério  Centre-Forward  Mar 16, 2003   21
24                     Renilson  Centre-Forward   May 3, 2003   20
25              Diego Lanzarini  Centre-Forward  Aug 26, 2003   20
26               Henrique Nunes  Centre-Forward  Feb 13, 2003   21
27                    João Galo  Centre-Forward   May 1, 2003   20
28                   Yan Chaves  Centre-Forward   Mar 1, 2003   21
29                        Breno  Centre-Forward  Feb 13, 2003   21
30                         Cadu  Centre-Forward  May 13, 2003   20
31                    Wanderson  Centre-Forward  Apr 23, 2003   20
32     77                Éberth  Centre-Forward  Jun 19, 2003   20
33                Kauan Pereira  Centre-Forward   Apr 2, 2003   20
34               Michael Felipe  Centre-Forward   May 6, 2003   20
35               Leonardo David  Centre-Forward  May 26, 2003   20
36               Vinícius Souza  Centre-Forward  Mar 26, 2003   20
37                      Willian  Centre-Forward  Apr 21, 2003   20
38                      Romário  Centre-Forward   May 1, 2003   20
39                Renan Bernabé  Centre-Forward   Nov 1, 2003   20
40              Vinicius Fabião  Centre-Forward  Dec 21, 2003   20
41                   Mateusinho  Centre-Forward  Mar 31, 2003   20
42                     Miqueias  Centre-Forward  Jan 22, 2003   21
43                        César  Centre-Forward   Jan 4, 2003   21
44                      Geraldo  Centre-Forward   Feb 6, 2003   21
45                       Da Ora  Centre-Forward   Sep 2, 2003   20
46     59        Pedro Clemente  Centre-Forward  Apr 29, 2003   20
47     11         Pedro Sampaio  Centre-Forward   Mar 6, 2003   21
48                      Alexiel  Centre-Forward   Aug 9, 2003   20
49               Kauan Cristian  Centre-Forward  Mar 31, 2003   20
50              Gabriel Sathler  Centre-Forward  Jan 30, 2003   21
51                    Kleberson  Centre-Forward  Mar 18, 2003   21
52                  João Vieira  Centre-Forward   May 6, 2003   20
53                        Iruan  Centre-Forward  Dec 23, 2003   20
54                Iarley Barros  Centre-Forward  Apr 15, 2003   20
55                      Arilton  Centre-Forward  Feb 23, 2003   21
56                Ighor Gabryel  Centre-Forward  Jan 15, 2003   21
57                 João Adriano  Centre-Forward   Mar 9, 2003   21
58                Matheus Bambu  Centre-Forward   Mar 6, 2003   21
59                 André Santos  Centre-Forward  Apr 30, 2003   20
60               Victor Michell  Centre-Forward   Mar 8, 2003   21
61                Andrey Jacaré  Centre-Forward  Jul 23, 2003   20
62                       Cortez  Centre-Forward   Apr 9, 2003   20
63                 Arthur Korek  Centre-Forward  Apr 22, 2003   20
64              Gabriel Cardoso  Centre-Forward   Mar 6, 2003   21
65                         Berê  Centre-Forward  Mar 17, 2003   21
66                 Kelvin Costa  Centre-Forward   Jun 9, 2003   20
67                Gabriel Costa  Centre-Forward  Dec 24, 2003   20
68                    Ryan Luka  Centre-Forward  Apr 30, 2003   20
69              Vinicius Moraes  Centre-Forward  Nov 23, 2003   20
70                  Renan Viana  Centre-Forward  Jan 31, 2003   21
71                  Mateus Brun  Centre-Forward  Mar 12, 2003   21
72      7       Nicolas Bellini  Centre-Forward  May 14, 2003   20

           Nationality Birth Country             Place of Birth
0             [Brazil]        Brazil                 Itapetinga  \
1             [Brazil]        Brazil                  Fortaleza
2             [Brazil]        Brazil             Belo Horizonte
3             [Brazil]        Brazil                 Imperatriz
4             [Brazil]        Brazil
5             [Brazil]        Brazil                   Criciúma
6             [Brazil]        Brazil
7      [Italy, Brazil]        Brazil                   Salvador
8     [Sweden, Brazil]        Brazil              Campinas (SP)
9             [Brazil]        Brazil
10            [Brazil]        Brazil                Parauapebas
11  [Brazil, Portugal]        Brazil                  Sao Paulo
12            [Brazil]        Brazil  Santo Antônio da Patrulha
13            [Brazil]        Brazil                   Campinas
14            [Brazil]        Brazil               Porto Alegre
15            [Brazil]        Brazil                      Cotia
16            [Brazil]        Brazil                   Brasília
17            [Brazil]        Brazil            Taboão da Serra
18            [Brazil]        Brazil
19            [Brazil]        Brazil
20            [Brazil]        Brazil             Jaraguá do Sul
21            [Brazil]        Brazil
22            [Brazil]        Brazil
23            [Brazil]        Brazil                   Campinas
24            [Brazil]        Brazil
25            [Brazil]        Brazil                     Cuiabá
26            [Brazil]        Brazil
27            [Brazil]        Brazil
28            [Brazil]        Brazil                    Humaitá
29            [Brazil]        Brazil
30            [Brazil]        Brazil                   Estância
31            [Brazil]        Brazil
32            [Brazil]        Brazil          Bom Jesus da Lapa
33            [Brazil]        Brazil                   Salvador
34            [Brazil]        Brazil                   Ourinhos
35            [Brazil]        Brazil                    Lagarto
36            [Brazil]        Brazil                     Pojuca
37            [Brazil]        Brazil
38            [Brazil]        Brazil
39            [Brazil]        Brazil
40            [Brazil]        Brazil                 Itapiranga
41            [Brazil]        Brazil
42            [Brazil]        Brazil        Passo do Camaragibe
43            [Brazil]        Brazil
44            [Brazil]        Brazil
45            [Brazil]        Brazil                Aquiadauana
46            [Brazil]        Brazil                    Taubaté
47  [Portugal, Brazil]        Brazil
48            [Brazil]        Brazil        São José dos Campos
49            [Brazil]        Brazil
50            [Brazil]        Brazil
51            [Brazil]        Brazil
52            [Brazil]        Brazil
53            [Brazil]        Brazil                    Coaraci
54            [Brazil]        Brazil                    Bocaina
55            [Brazil]        Brazil
56            [Brazil]        Brazil                 Brumadinho
57            [Brazil]        Brazil
58            [Brazil]        Brazil
59            [Brazil]        Brazil                  Joinville
60            [Brazil]        Brazil                 Santa Inês
61            [Brazil]        Brazil
62            [Brazil]        Brazil          Careiro da Várzea
63            [Brazil]        Brazil                    Diadema
64            [Brazil]        Brazil
65            [Brazil]        Brazil
66            [Brazil]        Brazil                  Bom Jesus
67            [Brazil]        Brazil                  Casa Nova
68            [Brazil]        Brazil
69            [Brazil]        Brazil                        Itu
70            [Brazil]        Brazil               Nova Granada
71            [Brazil]        Brazil                     Cuiabá
72            [Brazil]        Brazil

   Other Positions Height Market Value
0               SS   1,77      €25.00m
1               SS   1,80       €1.00m
2                    1,80        €500k
3          LW   RW   1,77        €150k
4                    1,85        €100k
5               SS   1,89         €50k
6                    1,84         €50k
7                                 €25k
8          RW   AM   1,80         €10k
9                    1,82            -
10                   1,89            -
11         SS   LW   1,83            -
12                   1,77            -
13         SS   RW   1,84       €2.50m
14              RW               €500k
15                   1,80        €500k
16              SS   1,84        €150k
17              SS   1,91        €100k
18         AM   SS   1,78         €50k
19                   1,87         €50k
20                   1,86         €10k
21                                   -
22                   1,76            -
23         AM   SS   1,82            -
24                                   -
25         SS   RW   1,78            -
26                                   -
27                                   -
28              RW   1,80            -
29                                   -
30                   1,90            -
31         LW   RW                   -
32              SS   1,93            -
33                   1,77            -
34              SS   1,77            -
35                   1,90            -
36         LW   RW   1,89            -
37                                   -
38                   1,79            -
39                   1,88            -
40              SS   1,88            -
41         RW   LW                   -
42                   1,86            -
43                                   -
44              SS   1,90            -
45                   1,85            -
46                   1,87            -
47                   1,88            -
48                   1,81            -
49                   1,89            -
50                   1,84            -
51                                   -
52              SS                   -
53                   1,80            -
54                                   -
55                                   -
56                   1,76            -
57                   1,74            -
58                   1,89            -
59                   1,76            -
60                                   -
61                                   -
62                   1,79            -
63                                   -
64                   1,80            -
65                   1,82            -
66         LW   RW   1,85            -
67         LW   RW   1,77            -
68                   1,86            -
69                                   -
70              SS   1,89            -
71                   1,81            -
72                   1,70            -

## Merge all the dataframes into a single one and save the df into a csv file

In [199]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [200]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2176 entries, 0 to 2175
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           2176 non-null   object
 1   Name             2176 non-null   object
 2   Position         2176 non-null   object
 3   Date of Birth    2176 non-null   object
 4   Age              2176 non-null   object
 5   Nationality      2176 non-null   object
 6   Birth Country    2176 non-null   object
 7   Place of Birth   2176 non-null   object
 8   Other Positions  2176 non-null   object
 9   Height           2176 non-null   object
 10  Market Value     2176 non-null   object
dtypes: object(11)
memory usage: 187.1+ KB

In [201]:
df_merged.to_csv("../../data/brazil/brazil_centerforwards.csv", header= True, index=False)