# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_71434/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [187]:
#driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        


        #driver.execute_script("arguments[0].click();", next_buttons[x])
        #driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
#next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,37,Kauan Rodrigues,Central Midfield,"Apr 16, 2005",18,[Brazil],Brazil,Caxias,DM AM,"1,74",€100k
1,,Mateus,Central Midfield,"Jan 11, 2005",19,[Brazil],Brazil,,,,-
2,,João Trevisol,Central Midfield,"Apr 19, 2005",18,[Brazil],Brazil,Garibaldi,,"1,85",-
3,,Gustavo Prado,Central Midfield,"Jun 6, 2005",18,[Brazil],Brazil,Rio de Janeiro,RM,"1,79",-
4,,Rafael Silva,Central Midfield,"Aug 22, 2005",18,[Brazil],Brazil,,,,-
5,,JP,Central Midfield,"Apr 19, 2005",18,[Brazil],Brazil,Goiânia,,"1,76",-
6,,Amilton,Central Midfield,"Feb 2, 2005",19,[Brazil],Brazil,,,"1,75",-
7,,Diego Hubner,Central Midfield,"Dec 30, 2005",18,[Brazil],Brazil,,,"1,76",-
8,,Davi Gama,Central Midfield,"Mar 31, 2005",18,[Brazil],Brazil,,,,-
9,,Caíke,Central Midfield,"Jan 10, 2005",19,[Brazil],Brazil,Americana,,,-
10,,David Kauã,Central Midfield,"Mar 12, 2005",19,[Brazil],Brazil,Bandeirantes,LW AM,"1,82",-
11,,Douglas Rafael,Central Midfield,"May 23, 2005",18,[Brazil],Brazil,,DM,,-
12,,Murilo,Central Midfield,"Feb 10, 2005",19,[Brazil],Brazil,,AM,,-

In [92]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_1999)

   Number                               Name          Position  Date of Birth
0      13                            Éderson  Central Midfield   Jul 7, 1999   \
1       8                   Patrick de Paula  Central Midfield   Sep 8, 1999
2      18                          Wenderson  Central Midfield  Apr 27, 1999
3                               Bruno Matias  Central Midfield  Feb 24, 1999
4      77                           Klismahn  Central Midfield  Nov 23, 1999
5       8                          Thalisson  Central Midfield   Mar 2, 1999
6      20                      Cássio Júnior  Central Midfield  Jun 20, 1999
7                           Rafinha Potiguar  Central Midfield   Aug 9, 1999
8                                       Kauã  Central Midfield   Jan 8, 1999
9                                     Mateus  Central Midfield   Jan 5, 1999
10                              Matheus Rosa  Central Midfield  Mar 19, 1999
11                                   Giovani  Central Midfield  Jul 13, 1999
12                                  Mosquito  Central Midfield  Jan 29, 1999
13     17                       Gabriel Sara  Central Midfield  Jun 26, 1999
14     99                 Guilherme Castilho  Central Midfield  Sep 19, 1999
15     80                      Pablo Roberto  Central Midfield  Nov 14, 1999
16                            Anderson Ceará  Central Midfield  May 21, 1999
17      9                    Pedro Dolabella  Central Midfield  Jul 29, 1999
18                           Pedro Rodrigues  Central Midfield   Jan 5, 1999
19     42                   Henrique Gallina  Central Midfield   Jul 1, 1999
20     78                         Pedro Reis  Central Midfield  Sep 11, 1999
21                               Luigi Corso  Central Midfield  Sep 13, 1999
22     14                            Juninho  Central Midfield   Feb 2, 1999
23                             Matheus Alves  Central Midfield   Oct 1, 1999
24                            Jean Sergipano  Central Midfield   Feb 7, 1999
25     10                        Tulio Silva  Central Midfield  Nov 21, 1999
26                           Lucas Pederzoli  Central Midfield   Nov 4, 1999
27                                   Geovane  Central Midfield   Mar 2, 1999
28                             Matheus Junio  Central Midfield  Jun 21, 1999
29                                    Mateus  Central Midfield  Apr 10, 1999
30                           Daniel de Pauli  Central Midfield   Aug 6, 1999
31                                  Cleisson  Central Midfield   Nov 9, 1999
32                                  Mosquito  Central Midfield  Oct 16, 1999
33     80                      Renato Soares  Central Midfield   Mar 6, 1999
34                                       Léo  Central Midfield   Jan 2, 1999
35      5                              Barba  Central Midfield  Jan 29, 1999
36      6  Douglas Matheus Coutinho da Silva  Central Midfield   May 7, 1999
37                                Caio Mello  Central Midfield  Dec 18, 1999
38     48                       Gustavo Apis  Central Midfield  Jun 14, 1999
39                                   Rendell  Central Midfield   Jun 2, 1999
40                                    Daniel  Central Midfield  Feb 21, 1999
41     77                         Leo Murilo  Central Midfield   Nov 2, 1999
42                                      Caio  Central Midfield  Aug 29, 1999
43                                   Larusso  Central Midfield  Jun 26, 1999
44                               Vitor Alves  Central Midfield   Mar 9, 1999
45                               Pedro Alves  Central Midfield   Jun 1, 1999
46                              Edson Júnior  Central Midfield   Apr 9, 1999
47                                  De Paula  Central Midfield  Mar 14, 1999
48                                   Linnick  Central Midfield  May 24, 1999
49                                   Roberio  Central Midfield  Jan 21, 1999
50                           Filipe Trindade  Central Midfield  Jul 18, 1999
51                            Gustavo Hideki  Central Midfield   Apr 7, 1999
52                                     Pablo  Central Midfield   Sep 9, 1999
53                              Pedro Acorsi  Central Midfield  Jun 26, 1999
54      6                Vitor Vieira Thomas  Central Midfield  Nov 18, 1999
55      5                       Edson Aquino  Central Midfield  Jun 15, 1999
56                                      Lima  Central Midfield   May 9, 1999
57      5                      Mateus Vieira  Central Midfield  Mar 22, 1999
58                                    Brendo  Central Midfield   Jan 7, 1999
59                                      Dedé  Central Midfield           N/A
60                                  Estefano  Central Midfield  Feb 14, 1999
61                               Lucas Bessa  Central Midfield  Nov 17, 1999
62                          Guilherme Borges  Central Midfield  Nov 27, 1999
63                          Anderson Hinacio  Central Midfield   Jan 7, 1999

   Age         Nationality Birth Country            Place of Birth
0   24            [Brazil]        Brazil              Campo Grande  \
1   24            [Brazil]        Brazil            Rio de Janeiro
2   24            [Brazil]        Brazil               Ceará-Mirim
3   25            [Brazil]        Brazil                 São Paulo
4   24            [Brazil]        Brazil  Santana do Araguaia (PA)
5   25            [Brazil]        Brazil             Montes Claros
6   24            [Brazil]        Brazil                    Osasco
7   24            [Brazil]        Brazil                     Natal
8   25            [Brazil]        Brazil                 São Paulo
9   25            [Brazil]        Brazil
10  24            [Brazil]        Brazil
11  24            [Brazil]        Brazil
12  25            [Brazil]        Brazil
13  24            [Brazil]        Brazil                 Joinville
14  24            [Brazil]        Brazil                  Arapoema
15  24            [Brazil]        Brazil             São Francisco
16  24            [Brazil]        Brazil                   Tianguá
17  24            [Brazil]        Brazil                  Brasília
18  25            [Brazil]        Brazil            Belo Horizonte
19  24            [Brazil]        Brazil                 São Paulo
20  24            [Brazil]        Brazil
21  24            [Brazil]        Brazil
22  25            [Brazil]        Brazil                     Belém
23  24            [Brazil]        Brazil                  Campinas
24  25            [Brazil]        Brazil
25  24            [Brazil]        Brazil
26  24            [Brazil]        Brazil
27  25            [Brazil]        Brazil                  Salvador
28  24            [Brazil]        Brazil
29  24            [Brazil]        Brazil
30  24     [Brazil, Italy]        Brazil                   Goiânia
31  24            [Brazil]        Brazil
32  24            [Brazil]        Brazil
33  25            [Brazil]        Brazil                 São Paulo
34  25            [Brazil]        Brazil
35  25            [Brazil]        Brazil     São José do Rio Preto
36  24            [Brazil]        Brazil                    Touros
37  24            [Brazil]        Brazil
38  24            [Brazil]        Brazil               Nova Iguaçu
39  24            [Brazil]        Brazil                  Paracatu
40  25            [Brazil]        Brazil
41  24            [Brazil]        Brazil               Hortolândia
42  24            [Brazil]        Brazil                 São Paulo
43  24            [Brazil]        Brazil                Ananindeua
44  25            [Brazil]        Brazil                 São Paulo
45  24            [Brazil]        Brazil               Barra Mansa
46  24            [Brazil]        Brazil
47  25            [Brazil]        Brazil                  Caieiras
48  24            [Brazil]        Brazil            Rio de Janeiro
49  25            [Brazil]        Brazil
50  24            [Brazil]        Brazil                  Brasília
51  24            [Brazil]        Brazil
52  24            [Brazil]        Brazil
53  24            [Brazil]        Brazil
54  24           [Iceland]        Brazil              Porto Alegre
55  24            [Brazil]        Brazil          Feira De Santana
56  24            [Brazil]        Brazil                   Chapecó
57  24            [Brazil]        Brazil                  Itaguaçu
58  25            [Brazil]        Brazil
59  25            [Brazil]        Brazil            Rio de Janeiro
60  25            [Brazil]        Brazil
61  24  [Brazil, Portugal]        Brazil                     Belém
62  24            [Brazil]        Brazil                   Goiânia
63  25            [Brazil]        Brazil      Aliança do Tocantins

   Other Positions Height Market Value
0          DM   AM   1,83      €30.00m
1          AM   DM   1,78       €3.00m
2                    1,74        €600k
3               DM   1,72        €300k
4          DM   AM   1,79        €275k
5               DM   1,83        €150k
6               CB   1,84         €50k
7               DM   1,79            -
8          AM   DM   1,83            -
9                                    -
10                                   -
11              DM                   -
12                                   -
13         AM   DM   1,77      €16.00m
14         AM   DM   1,80       €1.00m
15              AM   1,83        €600k
16              AM   1,76        €300k
17              CF   1,93        €150k
18              AM   1,85         €50k
19              DM                   -
20              AM   1,74            -
21              AM   1,84            -
22              DM   1,68            -
23                   1,72            -
24                   1,78            -
25         AM   LW   1,78            -
26                   1,77            -
27         DM   AM   1,70            -
28                                   -
29                                   -
30         DM   LB   1,84            -
31                   1,82            -
32                                   -
33         LM   AM   1,76            -
34                                   -
35         DM   AM   1,77            -
36         DM   RB   1,72            -
37         DM   AM   1,82            -
38         AM   LB   1,76            -
39                   1,80            -
40                                   -
41              AM   1,80            -
42              AM   1,78            -
43              DM   1,76            -
44         SS   LW   1,70            -
45                                   -
46                                   -
47         AM   LM   1,83            -
48         DM   AM   1,73            -
49                                   -
50                   1,75            -
51         LB   RB   1,74            -
52                                   -
53              DM   1,80            -
54                                   -
55                   1,77            -
56         AM   DM   1,73            -
57              DM   1,77            -
58                                   -
59         DM   RB   1,90            -
60              DM   1,75            -
61              DM   1,84            -
62                   1,82            -
63                                   -

## Merge all the dataframes into a single one and save the df into a csv file

In [188]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [189]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 816 entries, 0 to 815
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           816 non-null    object
 1   Name             816 non-null    object
 2   Position         816 non-null    object
 3   Date of Birth    816 non-null    object
 4   Age              816 non-null    object
 5   Nationality      816 non-null    object
 6   Birth Country    816 non-null    object
 7   Place of Birth   816 non-null    object
 8   Other Positions  816 non-null    object
 9   Height           816 non-null    object
 10  Market Value     816 non-null    object
dtypes: object(11)
memory usage: 70.2+ KB

In [190]:
df_merged.to_csv("../../data/brazil/brazil_centralmidfields.csv", header= True, index=False)