# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [227]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_80990/3657650218.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [96]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [334]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        

        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
#next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Brazil',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_1993 = pd.DataFrame(rows)               
df_1993

,Number,Name,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,10,Fábio Lima,Attacking Midfield,"Jun 30, 1993",30,"[United Arab Emirates, Brazil]",Brazil,Araçagi,LW RW,"1,78",€6.00m
1,7,Hyoran,Attacking Midfield,"May 25, 1993",30,[Brazil],Brazil,Chapecó,LW RW,"1,74",€2.10m
2,10,Reis,Attacking Midfield,"Jan 6, 1993",31,[Brazil],Brazil,Capitão Poço,LW RW,"1,72",€750k
3,17,Mikael,Attacking Midfield,"Apr 6, 1993",30,[Brazil],Brazil,,CM,"1,79",€550k
4,58,Octávio,Attacking Midfield,"Dec 29, 1993",30,"[Brazil, Spain]",Brazil,Rio de Janeiro,RW LW,"1,84",€450k
...,...,...,...,...,...,...,...,...,...,...,...
98,,Rafael Pernão,Attacking Midfield,"Mar 24, 1993",30,[Brazil],Brazil,Rio de Janeiro,LW RW,"1,77",-
99,,Elivélton,Attacking Midfield,"Jan 30, 1993",31,[Brazil],Brazil,Pedreiras,LW RW,"1,82",-
100,,Assuério,Attacking Midfield,"Feb 24, 1993",31,[Brazil],Brazil,Pontalina,LW RW,"1,81",-
101,,Serginho,Attacking Midfield,"May 21, 1993",30,[Brazil],Brazil,Natal,,"1,62",-
102,,Lima,Attacking Midfield,"Apr 21, 1993",30,[Brazil],Brazil,Itacuruba,LW RW,,-

In [330]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_1992)

   Number                     Name            Position  Date of Birth
0       9        Philippe Coutinho  Attacking Midfield  Jun 12, 1992   \
1      43                    Nikão  Attacking Midfield  Jul 29, 1992
2      20              Jean Carlos  Attacking Midfield  Feb 15, 1992
3      10         Fernando Canesin  Attacking Midfield  Feb 27, 1992
4      77                  Negueba  Attacking Midfield   Apr 7, 1992
5       8                  Marlone  Attacking Midfield   Apr 2, 1992
6      22            Thiago Amaral  Attacking Midfield  Jan 25, 1992
7      10                 Marcinho  Attacking Midfield   May 1, 1992
8                     Felipe Xavão  Attacking Midfield  Apr 10, 1992
9                          Tininho  Attacking Midfield   Nov 2, 1992
10                            Rian  Attacking Midfield  Aug 23, 1992
11                          Valker  Attacking Midfield  Oct 28, 1992
12     92           Dwann Oliveira  Attacking Midfield  May 26, 1992
13     77            Igor Coronado  Attacking Midfield  Aug 18, 1992
14                           Régis  Attacking Midfield  Nov 30, 1992
15     13                    Dener  Attacking Midfield  Mar 13, 1992
16     10               Éber Bessa  Attacking Midfield  Mar 21, 1992
17                   Renan Zanelli  Attacking Midfield  May 18, 1992
18                 Luciano Naninho  Attacking Midfield   Jul 3, 1992
19     92         Thiago Fernandes  Attacking Midfield   Jun 9, 1992
20                  Douglas Santos  Attacking Midfield  Jan 10, 1992
21                     Fernandinho  Attacking Midfield  Mar 11, 1992
22                           Tadeu  Attacking Midfield  Nov 29, 1992
23                         Tavinho  Attacking Midfield   Aug 3, 1992
24                         Brendon  Attacking Midfield   Nov 2, 1992
25                            Cleo  Attacking Midfield  Mar 19, 1992
26                            Nael  Attacking Midfield  Sep 23, 1992
27                      João Grilo  Attacking Midfield  Nov 13, 1992
28     17                  Elvinho  Attacking Midfield  Jan 29, 1992
29                         Geovani  Attacking Midfield   May 6, 1992
30                         Augusto  Attacking Midfield  Feb 22, 1992
31                   Diego Furtado  Attacking Midfield  Mar 20, 1992
32                           Mello  Attacking Midfield   Nov 8, 1992
33     98                  Raphael  Attacking Midfield  Feb 24, 1992
34                        Pedrinho  Attacking Midfield  Nov 24, 1992
35                    Felipe Costa  Attacking Midfield  Sep 17, 1992
36                        Henrique  Attacking Midfield   Aug 6, 1992
37     10            Leandro Motta  Attacking Midfield  Jan 14, 1992
38                       Alexandre  Attacking Midfield   Apr 3, 1992
39                    Filipe Cirne  Attacking Midfield  Jul 28, 1992
40                   Arthur Caculé  Attacking Midfield  Apr 18, 1992
41                          Alexon  Attacking Midfield   Dec 3, 1992
42                          Paulão  Attacking Midfield  Jan 12, 1992
43                            Caio  Attacking Midfield  Nov 19, 1992
44                         Jailson  Attacking Midfield   Oct 9, 1992
45                         Valdeir  Attacking Midfield  Nov 13, 1992
46                           Tinga  Attacking Midfield  Dec 22, 1992
47                 Nathan Ferreira  Attacking Midfield   Apr 8, 1992
48                       Adenilson  Attacking Midfield   Mar 9, 1992
49                         Geovane  Attacking Midfield   Jan 9, 1992
50                  Adriano Strack  Attacking Midfield  Feb 15, 1992
51                            Berg  Attacking Midfield  Sep 14, 1992
52                   Marco Antônio  Attacking Midfield  Mar 30, 1992
53                          Judson  Attacking Midfield   May 6, 1992
54                   Diego Noronha  Attacking Midfield  May 20, 1992
55                         Wangler  Attacking Midfield  Aug 18, 1992
56                      Fábio Gama  Attacking Midfield   Oct 2, 1992
57             Guilherme Rodrigues  Attacking Midfield  Jun 10, 1992
58                   Lucas Patinho  Attacking Midfield   Mar 6, 1992
59                          Edinho  Attacking Midfield  Feb 16, 1992
60                        Jadilson  Attacking Midfield  Nov 17, 1992
61                     Esquerdinha  Attacking Midfield   Jan 8, 1992
62                  Patrick Vieira  Attacking Midfield  Jan 11, 1992
63                   Thiago Rômulo  Attacking Midfield  Jun 11, 1992
64                Johnson Kendrick  Attacking Midfield   Oct 27, 1992
65                         Lineker  Attacking Midfield  Jul 13, 1992
66                  Cássio Gabriel  Attacking Midfield  Aug 23, 1992
67                  Ronaldo Mendes  Attacking Midfield  Aug 16, 1992
68                            Dudu  Attacking Midfield   Nov 5, 1992
69                     Pablo Valím  Attacking Midfield  Dec 15, 1992
70               Paulinho Cearense  Attacking Midfield   Jan 2, 1992
71                       Renatinho  Attacking Midfield  Jan 31, 1992
72                   Luiz Henrique  Attacking Midfield  Oct 11, 1992
73                      André Gava  Attacking Midfield   Jun 8, 1992
74                       Erivélton  Attacking Midfield  Feb 10, 1992
75                            Fran  Attacking Midfield   May 5, 1992
76                 Caíque Valdivia  Attacking Midfield  Oct 23, 1992
77                        Vinicius  Attacking Midfield  Jun 22, 1992
78                     Diego Souza  Attacking Midfield  Apr 20, 1992
79                            Jean  Attacking Midfield  Jan 27, 1992
80                      Jean Natal  Attacking Midfield  May 10, 1992
81               Jéferson Paulista  Attacking Midfield  Mar 27, 1992
82                      Marquinhos  Attacking Midfield  May 28, 1992
83         Daniel Muniz dos Santos  Attacking Midfield  May 20, 1992
84                     Bruno Smith  Attacking Midfield  Jul 13, 1992
85                     Arthur Maia  Attacking Midfield   Oct 13, 1992
86                         Zezinho  Attacking Midfield  Mar 14, 1992

             Age                  Nationality Birth Country
0             31           [Brazil, Portugal]        Brazil  \
1             31                     [Brazil]        Brazil
2             32                     [Brazil]        Brazil
3             32            [Brazil, Belgium]        Brazil
4             31                     [Brazil]        Brazil
5             31                     [Brazil]        Brazil
6             32                     [Brazil]        Brazil
7             31         [Brazil, Luxembourg]        Brazil
8             31                     [Brazil]        Brazil
9             31                     [Brazil]        Brazil
10            31                     [Brazil]        Brazil
11            31                     [Brazil]        Brazil
12            31                     [Brazil]        Brazil
13            31              [Italy, Brazil]        Brazil
14            31                     [Brazil]        Brazil
15            32                     [Brazil]        Brazil
16            31                     [Brazil]        Brazil
17            31              [Brazil, Italy]        Brazil
18            31                     [Brazil]        Brazil
19            31        [Timor-Leste, Brazil]        Brazil
20            32                     [Brazil]        Brazil
21            32                     [Brazil]        Brazil
22            31                     [Brazil]        Brazil
23            31                     [Brazil]        Brazil
24            31                     [Brazil]        Brazil
25            31                     [Brazil]        Brazil
26            31                     [Brazil]        Brazil
27            31                     [Brazil]        Brazil
28            32                     [Brazil]        Brazil
29            31                     [Brazil]        Brazil
30            32                     [Brazil]        Brazil
31            31                     [Brazil]        Brazil
32            31              [Brazil, Italy]        Brazil
33            32                     [Brazil]        Brazil
34            31                     [Brazil]        Brazil
35            31                     [Brazil]        Brazil
36            31                     [Brazil]        Brazil
37            32                     [Brazil]        Brazil
38            31                     [Brazil]        Brazil
39            31                     [Brazil]        Brazil
40            31                     [Brazil]        Brazil
41            31                     [Brazil]        Brazil
42            32                     [Brazil]        Brazil
43            31                     [Brazil]        Brazil
44            31                     [Brazil]        Brazil
45            31                     [Brazil]        Brazil
46            31                     [Brazil]        Brazil
47            31                     [Brazil]        Brazil
48            32                     [Brazil]        Brazil
49            32                     [Brazil]        Brazil
50            32                     [Brazil]        Brazil
51            31                     [Brazil]        Brazil
52            31                     [Brazil]        Brazil
53            31  [Equatorial Guinea, Brazil]        Brazil
54            31                     [Brazil]        Brazil
55            31                     [Brazil]        Brazil
56            31                     [Brazil]        Brazil
57            31                     [Brazil]        Brazil
58            32                     [Brazil]        Brazil
59            32                     [Brazil]        Brazil
60            31                     [Brazil]        Brazil
61            32                     [Brazil]        Brazil
62            32                     [Brazil]        Brazil
63            31                     [Brazil]        Brazil
64  Oct 27, 1992                     [Brazil]        Brazil
65            31                     [Brazil]        Brazil
66            31                     [Brazil]        Brazil
67            31              [Brazil, Italy]        Brazil
68            31                     [Brazil]        Brazil
69            31                     [Brazil]        Brazil
70            32                     [Brazil]        Brazil
71            32                     [Brazil]        Brazil
72            31                     [Brazil]        Brazil
73            31                     [Brazil]        Brazil
74            32                     [Brazil]        Brazil
75            31             [Brazil, Greece]        Brazil
76            31                     [Brazil]        Brazil
77            31                     [Brazil]        Brazil
78            31                     [Brazil]        Brazil
79            32                     [Brazil]        Brazil
80            31                     [Brazil]        Brazil
81            31                     [Brazil]        Brazil
82            31                     [Brazil]        Brazil
83            31                     [Brazil]        Brazil
84            31                     [Brazil]        Brazil
85  Oct 13, 1992                     [Brazil]        Brazil
86            32                     [Brazil]        Brazil

           Place of Birth Other Positions Height Market Value
0          Rio de Janeiro         LW   RW   1,72       €9.00m
1          Belo Horizonte         RW   LW   1,74       €1.70m
2       Cornélio Procópio         SS   CM   1,78        €800k
3          Ribeirão Preto         RW   CM   1,74        €500k
4          Rio de Janeiro         RW   LW   1,72        €300k
5          Augustinópolis         LW   RW   1,80        €250k
6        São Bento do Sul         CF   SS   1,81         €50k
7         São Mateus (ES)              RM   1,69            -
8                                                           -
9                                           1,70            -
10              São Paulo         RW   LW   1,70            -
11                                          1,72            -
12                                     CM   1,80            -
13               Londrina         CM   SS   1,70       €5.50m
14                  Jales         RW   LW   1,71        €900k
15  São Bernardo do Campo         RM   CM   1,88        €500k
16         Belo Horizonte         CM   RW   1,66        €350k
17              São Paulo         RW   LW   1,80        €250k
18         Rio de Janeiro              CM   1,74        €150k
19         São Paulo (SP)         CM   DM   1,83         €50k
20           Capim Grosso                   1,71            -
21                                                          -
22                                LM   LB                   -
23               Santarém         CM   DM   1,69            -
24                 Franca              RB   1,76            -
25                                          1,71            -
26                  Crato                   1,77            -
27                                                          -
28                Serrana              RW   1,65            -
29                 Cuiabá              RM   1,70            -
30              São Paulo         SS   CM   1,72            -
31               Brasília                   1,79            -
32           Porto Alegre              LW   1,74            -
33                                CM   DM   1,84            -
34           Ponta Grossa         CM   DM   1,78            -
35          São Luís (MA)                   1,69            -
36         Belo Horizonte              SS    N/A            -
37    Rio de Janeiro (RJ)         LW   RW   1,75            -
38                                     CM                   -
39               Brasília              RW   1,70            -
40                 Caculé                   1,82            -
41                                                          -
42              Sao Paulo                   1,85            -
43              São Paulo                   1,76            -
44               Palmares         LW   RW   1,82            -
45                Sapeaçu              CM   1,71            -
46       Cachoeira do Sul         RW   LM   1,78            -
47                    Jaú              LW   1,74            -
48               Salvador              CM   1,84            -
49          Teófilo Otoni         CM   SS   1,77            -
50              Carazinho              CM   1,80            -
51              Petrolina         SS   LW   1,74            -
52              São Paulo         LW   RW   1,87            -
53               Salvador                   1,70            -
54             São Carlos         LW   RW   1,72            -
55                 Tapera         LW   RW   1,70            -
56      Ribeira do Pombal         SS   LW   1,67            -
57              São Paulo              LB   1,73            -
58         Ribeirão Preto              SS   1,90            -
59              Joinville         RW   LW   1,72            -
60         Belo Horizonte         LW   RW                   -
61              Garanhuns         LW   CM   1,64            -
62         Rio de Janeiro         LW   RW   1,82            -
63         Porto Nacional              SS   1,75            -
64                Guarujá         RW   LW                   -
65                  Belém         LW   RW   1,69            -
66             Patrocínio         LW   RW   1,75            -
67           Nova Erechim         LW   RW   1,71            -
68                                          1,81            -
69           Pedro Osório                   1,82            -
70                  Cedro              RW   1,70            -
71          Foz do Iguaçu         RM   LM   1,72            -
72              Fortaleza         LW   RW   1,79            -
73            Nova Veneza              SS   1,74            -
74                  Natal         LW   RW   1,73            -
75              São Paulo         LW   RW   1,80            -
76         Rio de Janeiro         LW   RW   1,80            -
77            Salesópolis         CM   CF   1,77            -
78             Piracicaba                   1,78            -
79          Caxias do Sul                   1,83            -
80            Ceará Mirim         LW   RW   1,74            -
81        Piracicaba (SP)         LW   RW   1,75            -
82         Rio de Janeiro         CM   SS   1,69            -
83            Porto Velho         LW   SS   1,78            -
84                 Franca                   1,73            -
85                 Maceió         LM   RM   1,70            -
86             Uruguaiana         LM   RM   1,75            -

## Merge all the dataframes into a single one and save the df into a csv file

In [335]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [336]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1697 entries, 0 to 1696
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1697 non-null   object
 1   Name             1697 non-null   object
 2   Position         1697 non-null   object
 3   Date of Birth    1697 non-null   object
 4   Age              1697 non-null   object
 5   Nationality      1697 non-null   object
 6   Birth Country    1697 non-null   object
 7   Place of Birth   1697 non-null   object
 8   Other Positions  1697 non-null   object
 9   Height           1697 non-null   object
 10  Market Value     1697 non-null   object
dtypes: object(11)
memory usage: 146.0+ KB

In [337]:
df_merged.to_csv("../../data/brazil/brazil_attackingmidfields.csv", header= True, index=False)