## Imports

In [1]:
import pandas as pd

In [2]:
df_global = pd.DataFrame

In [3]:
df_gk = pd.read_csv("../../data/england/england_goalkeepers.csv")
df_cb = pd.read_csv("../../data/england/england_centerbacks.csv")
df_lb = pd.read_csv("../../data/england/england_leftbacks.csv")
df_rb = pd.read_csv("../../data/england/england_rightbacks.csv")
df_dm = pd.read_csv("../../data/england/england_defensivemidfields.csv")
df_cm = pd.read_csv("../../data/england/england_centralmidfields.csv")
df_rm = pd.read_csv("../../data/england/england_rightmidfields.csv")
df_lm = pd.read_csv("../../data/england/england_leftmidfields.csv")
df_am = pd.read_csv("../../data/england/england_attackingmidfields.csv")
df_lw = pd.read_csv("../../data/england/england_leftwingers.csv")
df_rw = pd.read_csv("../../data/england/england_rightwingers.csv")
df_st = pd.read_csv("../../data/england/england_secondstrikers.csv")
df_cf = pd.read_csv("../../data/england/england_centerforwards.csv")

## Merge all the dataframes

In [4]:
df_global = pd.concat([df_gk, df_cb, df_lb, df_rb, df_dm, df_cm, df_rm, df_lm, df_am, df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [5]:
df_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9233 entries, 0 to 9232
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           3335 non-null   float64
 1   Name             9233 non-null   object
 2   Position         9233 non-null   object
 3   Date of Birth    9233 non-null   object
 4   Age              9233 non-null   object
 5   Nationality      9233 non-null   object
 6   Birth Country    9233 non-null   object
 7   Place of Birth   8871 non-null   object
 8   Height           7185 non-null   object
 9   Market Value     9233 non-null   object
 10  Main Position    8281 non-null   object
 11  Other Positions  5438 non-null   object
dtypes: float64(1), object(11)
memory usage: 865.7+ KB

## Goalkeepers

In [6]:
df_gk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 952 entries, 0 to 951
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Number          325 non-null    float64
 1   Name            952 non-null    object
 2   Position        952 non-null    object
 3   Date of Birth   952 non-null    object
 4   Age             952 non-null    object
 5   Nationality     952 non-null    object
 6   Birth Country   952 non-null    object
 7   Place of Birth  916 non-null    object
 8   Height          696 non-null    object
 9   Market Value    952 non-null    object
dtypes: float64(1), object(9)
memory usage: 74.5+ KB

In [7]:
print(len(df_gk)/len(df_global)*100)

10.310841546626232

## Defenders

In [8]:
df_defenders = pd.concat([ df_cb, df_lb, df_rb],ignore_index=True)

In [9]:
df_defenders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3098 entries, 0 to 3097
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1146 non-null   float64
 1   Name             3098 non-null   object
 2   Main Position    3098 non-null   object
 3   Position         3098 non-null   object
 4   Date of Birth    3098 non-null   object
 5   Age              3098 non-null   object
 6   Nationality      3098 non-null   object
 7   Birth Country    3098 non-null   object
 8   Place of Birth   2962 non-null   object
 9   Other Positions  1845 non-null   object
 10  Height           2422 non-null   object
 11  Market Value     3098 non-null   object
dtypes: float64(1), object(11)
memory usage: 290.6+ KB

In [10]:
print(len(df_defenders)/len(df_global)*100)

33.55355789017654

## Midfielders

In [11]:
df_midfielders = pd.concat([df_dm, df_cm, df_rm, df_lm, df_am],ignore_index=True)

In [12]:
df_midfielders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2766 entries, 0 to 2765
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1017 non-null   float64
 1   Name             2766 non-null   object
 2   Main Position    2766 non-null   object
 3   Position         2766 non-null   object
 4   Date of Birth    2766 non-null   object
 5   Age              2766 non-null   object
 6   Nationality      2766 non-null   object
 7   Birth Country    2766 non-null   object
 8   Place of Birth   2664 non-null   object
 9   Other Positions  2171 non-null   object
 10  Height           2141 non-null   object
 11  Market Value     2766 non-null   object
dtypes: float64(1), object(11)
memory usage: 259.4+ KB

In [13]:
print(len(df_midfielders)/len(df_global)*100)

29.957760207949747

## Strikers

In [14]:
df_strikers = pd.concat([df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [15]:
df_strikers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2417 entries, 0 to 2416
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           847 non-null    float64
 1   Name             2417 non-null   object
 2   Main Position    2417 non-null   object
 3   Position         2417 non-null   object
 4   Date of Birth    2417 non-null   object
 5   Age              2417 non-null   object
 6   Nationality      2417 non-null   object
 7   Birth Country    2417 non-null   object
 8   Place of Birth   2329 non-null   object
 9   Other Positions  1422 non-null   object
 10  Height           1926 non-null   object
 11  Market Value     2417 non-null   object
dtypes: float64(1), object(11)
memory usage: 226.7+ KB

In [16]:
print(len(df_strikers)/len(df_global)*100)

26.177840355247483

In [ ]:
df_global.to_csv("../../data/england/england_global.csv", header= True, index=False)