# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_11826/2000119249.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [399]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Striker",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'England',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Striker",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'England',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        

        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Striker",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'England',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Striker",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'England',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Main Position,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,,Nathan Fraser,Striker,Centre-Forward,"Feb 22, 2005",19,"[Ireland, England]",England,Wolverhampton,,"1,88",€1.00m
1,62,Ronnie Stutter,Striker,Centre-Forward,"Jan 6, 2005",19,[England],England,London,,,€200k
2,29,Aron Sasu,Striker,Centre-Forward,"Mar 5, 2005",19,"[Norway, England]",England,London,,"1,85",€75k
3,29,Joseph Gbode,Striker,Centre-Forward,"Apr 8, 2005",18,[England],England,London,,"1,80",€50k
4,28,Oli Wilson,Striker,Centre-Forward,"Aug 31, 2005",18,[England],England,Nottingham,,"1,94",-
5,,Caelan Ryan,Striker,Centre-Forward,"Oct 12, 2005",18,"[Thailand, England]",England,Upton,,"1,90",-
6,,Connor Brown,Striker,Centre-Forward,"Nov 9, 2005",18,[England],England,,,,-
7,,Zak Abbott,Striker,Centre-Forward,"Feb 6, 2005",19,"[Poland, England]",England,Huddersfield,,"1,89",-
8,35,Nathan Lowe,Striker,Centre-Forward,"Sep 18, 2005",18,[England],England,Harlow,,"1,93",-
9,,Jake Daniels,Striker,Centre-Forward,"Jan 8, 2005",19,"[England, United States]",England,Bispham,SS RW,,-
10,20,Daniel Adu-Adjei,Striker,Centre-Forward,"Jun 21, 2005",18,"[England, Ghana]",England,London,,,-
11,73,Josh Donaldson,Striker,Centre-Forward,"Sep 25, 2005",18,[England],England,Gateshead,,,-
12,,Finlay Corrigan,Striker,Centre-Forward,"Jan 13, 2005",19,"[Wales, England]",England,Loughton,RW LW,"1,80",-
13,42,Bailey Cadamarteri,Striker,Centre-Forward,"May 9, 2005",18,"[England, Jamaica]",England,Leeds,,"1,85",€450k
14,32,Max Woodcock,Striker,Centre-Forward,"Jul 29, 2005",18,"[Scotland, England]",England,Congleton,RW LW,"1,78",€75k
15,,Brandon Njoku,Striker,Centre-Forward,"Jan 29, 2005",19,"[England, Nigeria]",England,London,LW,,€50k
16,,Jonny Stuttle,Striker,Centre-Forward,"Sep 29, 2005",18,[England],England,Weymouth,,,-
17,,Nathan Jeche,Striker,Centre-Forward,"Jun 30, 2005",18,[England],England,Maidstone,,,-
18,,Olly Thomas,Striker,Centre-Forward,"Jul 28, 2005",18,[England],England,Bristol,,,-
19,,Olly Sully,Striker,Centre-Forward,"Sep 8, 2005",18,[England],England,,LW,"1,78",-
20,71,Donnell McNeilly,Striker,Centre-Forward,"Oct 30, 2005",18,[England],England,London,,,-
21,,Glen Sani,Striker,Centre-Forward,"May 9, 2005",18,[England],England,London,,"1,79",-
22,41,Tyrell Sellars-Fleming,Striker,Centre-Forward,"May 31, 2005",18,"[England, Jamaica]",England,Lincoln,,"1,73",-
23,81,Jaden Heskey,Striker,Centre-Forward,"Dec 17, 2005",18,[England],England,Manchester,AM CM,,-
24,,Princewill Ehibhatiomhan,Striker,Centre-Forward,"Oct 20, 2005",18,"[England, Nigeria]",England,Milton Keynes,SS,,-
25,62,Will Lankshear,Striker,Centre-Forward,"Apr 20, 2005",18,[England],England,,,"1,89",-
26,61,Shaun Mavididi,Striker,Centre-Forward,"Aug 13, 2005",18,[England],England,London,,,-
27,,Owen Farmer,Striker,Centre-Forward,"May 22, 2005",18,[England],England,Solihull,LW RW,,-
28,,Kian Le Fondre,Striker,Centre-Forward,"Feb 2, 2005",19,"[Scotland, England]",England,Stockport,RW LW,,-
29,,Tobi Adeyemo,Striker,Centre-Forward,"Mar 14, 2005",19,"[England, Nigeria]",England,London,,,-
30,64,Sonny Finch,Striker,Centre-Forward,"Aug 5, 2005",18,[England],England,Sunderland,SS,,-
31,14,Dajaune Brown,Striker,Centre-Forward,"Oct 16, 2005",18,"[Jamaica, England]",England,Nottingham,,,-
32,22,Emre Tezgel,Striker,Centre-Forward,"Sep 19, 2005",18,"[Türkiye, England]",England,Burton,,"1,82",-

In [169]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_1994)

    Number                  Name Main Position        Position  Date of Birth
0       10            Jamal Lowe       Striker  Centre-Forward  Jul 21, 1994   \
1       10        Cauley Woodrow       Striker  Centre-Forward   Dec 2, 1994
2       13       Callum Paterson       Striker  Centre-Forward  Oct 13, 1994
3       20         Blair Turgott       Striker  Centre-Forward  May 22, 1994
4       24          Sean Maguire       Striker  Centre-Forward   May 1, 1994
5       23         Cole Stockton       Striker  Centre-Forward  Mar 13, 1994
6       10        Ashley Nadesan       Striker  Centre-Forward   Sep 9, 1994
7       18           Josh Gordon       Striker  Centre-Forward  Oct 10, 1994
8       18            Rhys Oates       Striker  Centre-Forward   Dec 4, 1994
9        9          Scott Bakkor       Striker  Centre-Forward   Jun 7, 1994
10                Liam Ferdinand       Striker  Centre-Forward   Dec 4, 1994
11                   Tré Mitford       Striker  Centre-Forward  Dec 27, 1994
12                 Hasan Nalbant       Striker  Centre-Forward  Aug 16, 1994
13      44           Rhys Healey       Striker  Centre-Forward   Dec 6, 1994
14       9  Jonson Clarke-Harris       Striker  Centre-Forward  Jul 21, 1994
15      11         Jack Marriott       Striker  Centre-Forward   Sep 9, 1994
16      10           Paul Mullin       Striker  Centre-Forward   Nov 6, 1994
17      19        Kayden Jackson       Striker  Centre-Forward  Feb 22, 1994
18      39          Jordy Hiwula       Striker  Centre-Forward  Sep 21, 1994
19      19            Jamie Reid       Striker  Centre-Forward  Jul 15, 1994
20      40   Junior Ogedi-Uzokwe       Striker  Centre-Forward   Mar 3, 1994
21      15             Lee Angol       Striker  Centre-Forward   Aug 4, 1994
22                Jamie Molyneux       Striker  Centre-Forward   Oct 7, 1994
23                  Josh Oyinsan       Striker  Centre-Forward   Oct 2, 1994
24                 Matty Stenson       Striker  Centre-Forward  Mar 16, 1994
25                  Thomas James       Striker  Centre-Forward  Jun 14, 1993
26                  Kieran Wells       Striker  Centre-Forward   Jun 3, 1993
27       9         Jordan Archer       Striker  Centre-Forward  Nov 11, 1993
28                    Alex Addai       Striker  Centre-Forward  Dec 20, 1993
29      17          Scott Wilson       Striker  Centre-Forward  Jan 11, 1993
30                    Chris Lait       Striker  Centre-Forward  Jun 18, 1993
31                Reece Thompson       Striker  Centre-Forward  Nov 11, 1993
32      33     Jonathon Margetts       Striker  Centre-Forward  Sep 28, 1993
33               Jermaine Hylton       Striker  Centre-Forward  Jun 28, 1993
34                   Dan Maguire       Striker  Centre-Forward   Jan 8, 1993
35                 Benny Igiehon       Striker  Centre-Forward   Nov 3, 1993
36                  Adam Francis       Striker  Centre-Forward   May 1, 1993
37                    Sam Akinde       Striker  Centre-Forward  Apr 14, 1993
38                   Jack Hindle       Striker  Centre-Forward  Oct 29, 1993
39       9            Cody Cooke       Striker  Centre-Forward   Mar 2, 1993
40       9         Nicke Kabamba       Striker  Centre-Forward   Feb 1, 1993
41                 Dumebi Dumaka       Striker  Centre-Forward  Oct 25, 1993
42               Dominic Brennan       Striker  Centre-Forward  Nov 26, 1993
43                Brandon Barnes       Striker  Centre-Forward  Feb 20, 1993
44                Jordan Rideout       Striker  Centre-Forward  Feb 26, 1993
45                Jamie Matthews       Striker  Centre-Forward  Jun 17, 1993
46               Shamir Mullings       Striker  Centre-Forward  Oct 30, 1993
47                Connor Calcutt       Striker  Centre-Forward  Oct 10, 1993
48                    Jack Laird       Striker  Centre-Forward  Nov 11, 1993
49          Marcel Henry-Francis       Striker  Centre-Forward  Jan 25, 1993
50      10       Shaq Coulthirst       Striker  Centre-Forward   Nov 2, 1994
51                    Ryan Jones       Striker  Centre-Forward  May 17, 1994
52                 Adebayo Azeez       Striker  Centre-Forward   Jan 8, 1994
53                Danny Sullivan       Striker  Centre-Forward   Sep 1, 1994
54                  George Sykes       Striker  Centre-Forward  Sep 14, 1994
55                 Mitch Harding       Striker  Centre-Forward  Jan 27, 1994
56               Afolabi Obafemi       Striker  Centre-Forward  Nov 25, 1994
57                  Tyrell Waite       Striker  Centre-Forward   Jul 1, 1994
58       9             Mark Beck       Striker  Centre-Forward   Feb 2, 1994
59                   Carl Lawson       Striker  Centre-Forward   Oct 1, 1994
60      14           Jacob Hazel       Striker  Centre-Forward  Apr 15, 1994
61                   Jacob Joyce       Striker  Centre-Forward  Aug 18, 1994
62                Dominic Samuel       Striker  Centre-Forward   Apr 1, 1994
63                  Dominic Dell       Striker  Centre-Forward   Jan 1, 1994
64                    Tom Youngs       Striker  Centre-Forward   Sep 6, 1994
65      12         George Waring       Striker  Centre-Forward   Dec 2, 1994
66              Jordan Chiedozie       Striker  Centre-Forward   Aug 1, 1994
67                   Max Leonard       Striker  Centre-Forward   Jul 4, 1994
68                   Alec Denton       Striker  Centre-Forward  Jul 30, 1994
69                 Saul Williams       Striker  Centre-Forward  May 26, 1994
70               Greg Rutherford       Striker  Centre-Forward  May 17, 1994
71                   James Alabi       Striker  Centre-Forward   Nov 8, 1994
72                 Jordan Agbaje       Striker  Centre-Forward   Jan 9, 1994
73                    Luke James       Striker  Centre-Forward   Nov 4, 1994
74                  Evan Garnett       Striker  Centre-Forward  Aug 14, 1994
75               David Goldsmith       Striker  Centre-Forward  Sep 20, 1993
76                 Callum Hassan       Striker  Centre-Forward  Jan 23, 1993
77                   Aaron Spear       Striker  Centre-Forward  Apr 29, 1993
78                  Sam Mulready       Striker  Centre-Forward   May 6, 1993
79                   Joey Butlin       Striker  Centre-Forward  Mar 17, 1993
80                 Kudus Oyenuga       Striker  Centre-Forward  Mar 18, 1993
81                  Greg Daniels       Striker  Centre-Forward  Jan 21, 1993
82      12        Liam McAlinden       Striker  Centre-Forward  Sep 26, 1993
83                Lloyd Matthews       Striker  Centre-Forward  Sep 25, 1993
84               Jordan Marshall       Striker  Centre-Forward  May 10, 1993
85                 Andre Landell       Striker  Centre-Forward   Aug 6, 1993
86       9       Richard Peniket       Striker  Centre-Forward   Mar 4, 1993
87                   Joe Jackson       Striker  Centre-Forward   Feb 3, 1993
88                 Isaac Vassell       Striker  Centre-Forward   Sep 9, 1993
89                    Jared Sims       Striker  Centre-Forward  Oct 16, 1993
90                    Gozie Ugwu       Striker  Centre-Forward  Apr 22, 1993
91                 Connor Deards       Striker  Centre-Forward  Jan 19, 1993
92                   Olly Taylor       Striker  Centre-Forward  Dec 13, 1993
93                  Matt Rickard       Striker  Centre-Forward  Jan 29, 1993
94                     Matt Ball       Striker  Centre-Forward  Mar 26, 1993
95                   Nigel Neita       Striker  Centre-Forward  Dec 23, 1993
96                  Brad Grayson       Striker  Centre-Forward   Jan 2, 1993
97       9          Jack Sampson       Striker  Centre-Forward  Apr 14, 1993
98                    Alex Troke       Striker  Centre-Forward  Jul 19, 1993
99                    Rob Clowes       Striker  Centre-Forward  Feb 24, 1993
100      9            Alex Jones       Striker  Centre-Forward  Sep 28, 1994
101     25           Allan Smith       Striker  Centre-Forward  Jan 25, 1994
102                Matt Lecointe       Striker  Centre-Forward  Oct 28, 1994
103     10          Miles Storey       Striker  Centre-Forward   Jan 4, 1994
104                 James Murphy       Striker  Centre-Forward  May 23, 1994
105                  Adam Morgan       Striker  Centre-Forward  Apr 21, 1994
106             Jonathan Letford       Striker  Centre-Forward  Mar 19, 1994
107              Anton Forrester       Striker  Centre-Forward  Feb 11, 1994
108                    Zak Ansah       Striker  Centre-Forward   May 4, 1994
109     23           Dan Creaney       Striker  Centre-Forward  Jul 27, 1994
110                 Curtis Haley       Striker  Centre-Forward  Nov 10, 1994
111                   Hatib Cham       Striker  Centre-Forward  Feb 14, 1994
112           Jack Serrant-Green       Striker  Centre-Forward   Feb 2, 1994
113              Wilson Kneeshaw       Striker  Centre-Forward  May 20, 1994
114                Ashley Miller       Striker  Centre-Forward   Sep 8, 1994
115               Philip Roberts       Striker  Centre-Forward   Apr 7, 1994
116     11           Hallam Hope       Striker  Centre-Forward  Mar 17, 1994

    Age                          Nationality Birth Country
0    29                   [Jamaica, England]       England  \
1    29                            [England]       England
2    29                  [Scotland, England]       England
3    29                   [Jamaica, England]       England
4    29                   [Ireland, England]       England
5    30                            [England]       England
6    29                            [England]       England
7    29                            [England]       England
8    29                            [England]       England
9    29                            [England]       England
10   29                            [England]       England
11   29                    [Guyana, England]       England
12   29                    [Türkiye, Cyprus]       England
13   29                            [England]       England
14   29                   [Jamaica, England]       England
15   29                            [England]       England
16   29                     [England, Wales]       England
17   30                            [England]       England
18   29                    [England, Angola]       England
19   29          [Northern Ireland, England]       England
20   30                   [England, Nigeria]       England
21   29                            [England]       England
22   29                            [England]       England
23   29                   [Nigeria, England]       England
24   30                            [England]       England
25   30                            [England]       England
26   30                            [England]       England
27   30                            [England]       England
28   30                     [England, Ghana]       England
29   31                            [England]       England
30   30                            [England]       England
31   30                            [England]       England
32   30                            [England]       England
33   30                            [England]       England
34   31                            [England]       England
35   30                            [England]       England
36   30                            [England]       England
37   30                   [England, Nigeria]       England
38   30                            [England]       England
39   31                            [England]       England
40   31                  [DR Congo, England]       England
41   30                   [England, Nigeria]       England
42   30                            [England]       England
43   31                            [England]       England
44   31                            [England]       England
45   30                            [England]       England
46   30                            [England]       England
47   30                            [England]       England
48   30                            [England]       England
49   31                            [England]       England
50   29                            [England]       England
51   29                              [Wales]       England
52   30                   [England, Nigeria]       England
53   29                            [England]       England
54   29                  [Scotland, England]       England
55   30                            [England]       England
56   29                   [England, Nigeria]       England
57   29                            [England]       England
58   30                  [Scotland, England]       England
59   29                            [England]       England
60   29         [St. Kitts & Nevis, England]       England
61   29                            [England]       England
62   30       [England, Antigua and Barbuda]       England
63   30                            [England]       England
64   29                            [England]       England
65   29                            [England]       England
66   29                   [England, Nigeria]       England
67   29                            [England]       England
68   29                            [England]       England
69   29  [England, St. Vincent & Grenadinen]       England
70   29                            [England]       England
71   29                     [England, Ghana]       England
72   30                   [England, Nigeria]       England
73   29                            [England]       England
74   29                            [England]       England
75   30                     [Wales, England]       England
76   31                            [England]       England
77   30                  [England, Scotland]       England
78   30                            [England]       England
79   31                            [England]       England
80   31                   [England, Nigeria]       England
81   31                            [England]       England
82   30          [Ireland, Northern Ireland]       England
83   30                            [England]       England
84   30                            [England]       England
85   30                            [England]       England
86   31                              [Wales]       England
87   31                            [England]       England
88   30                            [England]       England
89   30                            [England]       England
90   30                   [England, Nigeria]       England
91   31                   [Ireland, England]       England
92   30                            [England]       England
93   31                            [England]       England
94   31          [Northern Ireland, England]       England
95   30                   [Jamaica, England]       England
96   31                            [England]       England
97   30                            [England]       England
98   30                            [England]       England
99   31                            [England]       England
100  29                            [England]       England
101  30                           [Scotland]       England
102  29                            [England]       England
103  30                            [England]       England
104  29                            [Ireland]       England
105  29                            [England]       England
106  30                            [England]       England
107  30                            [England]       England
108  29                     [Ghana, England]       England
109  29                            [England]       England
110  29                            [England]       England
111  30                [The Gambia, England]       England
112  30                  [England, Dominica]       England
113  29                            [England]       England
114  29                            [England]       England
115  29                   [Ireland, England]       England
116  30                  [Barbados, England]       England

          Place of Birth Other Positions Height Market Value
0                 London         LW   RW   1,83       €1.50m
1        Hemel Hempstead              SS   1,84       €1.00m
2                 London         RW   RB   1,83        €800k
3                 London                   1,83        €600k
4                  Luton         LW   RW   1,75        €375k
5               Knowsley                   1,86        €275k
6                Redhill                   1,88        €225k
7         Stoke-on-Trent         RW   LW   1,78        €175k
8             Pontefract         LW   RW   1,83        €150k
9             Warrington         RW   LW   1,79            -
10               Reading                   1,77            -
11                 Dover                   1,86            -
12                London         RW   LW   1,88            -
13            Manchester              LW   1,80       €1.50m
14             Leicester                   1,83        €900k
15              Beverley              SS   1,73        €700k
16             Liverpool         SS   RW   1,78        €500k
17              Bradford         LW   RW   1,81        €300k
18            Manchester         LW   RW   1,78        €250k
19               Torquay         LW   RW   1,81        €225k
20                London         LW   RW   1,85        €150k
21                London              SS   1,87        €125k
22              Solihull              RW   1,86            -
23                London                   1,96            -
24              Coventry         LM   LW   1,88            -
25                London         LW   RW   1,80            -
26            Nottingham              SS   1,91            -
27              Bedworth         LW   RW   1,90            -
28                London         RW   SS   1,78            -
29               Bristol                   1,82            -
30              Solihull         LW   RW   1,83            -
31               Worksop                   1,74            -
32            Edenthorpe              SS   1,75            -
33            Birmingham         LW   RW   1,76            -
34   Newcastle-upon-Tyne              SS                   -
35                 Leeds                   1,93            -
36                London                                   -
37             Greenwich                                   -
38            Warrington         RW   LW   1,83            -
39                 Truro                   1,85            -
40                 Brent                   1,91            -
41                London                                   -
42             Leicester                   1,78            -
43                London              LW                   -
44             Southport                   1,80            -
45            Manchester                                   -
46                London                   1,96            -
47               Watford                   1,88            -
48             Liverpool                                   -
49                London                   1,85            -
50                London         SS   LW   1,80            -
51                Malpas                                   -
52                Sidcup         RW   LW   1,83            -
53              Plymouth                   1,77            -
54        Buckhurst Hill                   1,93            -
55     Weston-super-Mare                   1,72            -
56                London         RW   LW   1,88            -
57                 Derby         RW   LW   1,80            -
58            Sunderland                   1,96            -
59            Sunderland         LW   RW   1,82            -
60              Bradford              LW   1,81            -
61          Peterborough                   1,88            -
62                London                   1,88            -

## Merge all the dataframes into a single one and save the df into a csv file

In [400]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [401]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1621 entries, 0 to 1620
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1621 non-null   object
 1   Name             1621 non-null   object
 2   Main Position    1621 non-null   object
 3   Position         1621 non-null   object
 4   Date of Birth    1621 non-null   object
 5   Age              1621 non-null   object
 6   Nationality      1621 non-null   object
 7   Birth Country    1621 non-null   object
 8   Place of Birth   1621 non-null   object
 9   Other Positions  1621 non-null   object
 10  Height           1621 non-null   object
 11  Market Value     1621 non-null   object
dtypes: object(12)
memory usage: 152.1+ KB

In [402]:
df_merged.to_csv("../../data/england/england_centerforwards.csv", header= True, index=False)