## Imports

In [1]:
import pandas as pd

In [2]:
df_global = pd.DataFrame

In [3]:
df_gk = pd.read_csv("../../data/portugal/portugal_goalkeepers.csv")
df_cb = pd.read_csv("../../data/portugal/portugal_centerbacks.csv")
df_lb = pd.read_csv("../../data/portugal/portugal_leftbacks.csv")
df_rb = pd.read_csv("../../data/portugal/portugal_rightbacks.csv")
df_dm = pd.read_csv("../../data/portugal/portugal_defensivemidfields.csv")
df_cm = pd.read_csv("../../data/portugal/portugal_centralmidfields.csv")
df_rm = pd.read_csv("../../data/portugal/portugal_rightmidfields.csv")
df_lm = pd.read_csv("../../data/portugal/portugal_leftmidfields.csv")
df_am = pd.read_csv("../../data/portugal/portugal_attackingmidfields.csv")
df_lw = pd.read_csv("../../data/portugal/portugal_leftwingers.csv")
df_rw = pd.read_csv("../../data/portugal/portugal_rightwingers.csv")
df_st = pd.read_csv("../../data/portugal/portugal_secondstrikers.csv")
df_cf = pd.read_csv("../../data/portugal/portugal_centerforwards.csv")

## Merge all the dataframes

In [4]:
df_global = pd.concat([df_gk, df_cb, df_lb, df_rb, df_dm, df_cm, df_rm, df_lm, df_am, df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [5]:
df_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6630 entries, 0 to 6629
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           3682 non-null   float64
 1   Name             6630 non-null   object
 2   Position         6630 non-null   object
 3   Date of Birth    6630 non-null   object
 4   Age              6629 non-null   object
 5   Nationality      6630 non-null   object
 6   Birth Country    6630 non-null   object
 7   Place of Birth   5763 non-null   object
 8   Height           5011 non-null   object
 9   Market Value     6501 non-null   object
 10  Main Position    5822 non-null   object
 11  Other Positions  3986 non-null   object
dtypes: float64(1), object(11)
memory usage: 621.7+ KB

## Goalkeepers

In [6]:
df_gk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 808 entries, 0 to 807
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Number          438 non-null    float64
 1   Name            808 non-null    object
 2   Position        808 non-null    object
 3   Date of Birth   808 non-null    object
 4   Age             808 non-null    int64
 5   Nationality     808 non-null    object
 6   Birth Country   808 non-null    object
 7   Place of Birth  687 non-null    object
 8   Height          1 non-null      object
 9   Market Value    679 non-null    object
dtypes: float64(1), int64(1), object(8)
memory usage: 63.2+ KB

In [7]:
print(len(df_gk)/len(df_global)*100)

12.187028657616892

## Defenders

In [8]:
df_defenders = pd.concat([ df_cb, df_lb, df_rb],ignore_index=True)

In [9]:
df_defenders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2246 entries, 0 to 2245
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1282 non-null   float64
 1   Name             2246 non-null   object
 2   Main Position    2246 non-null   object
 3   Position         2246 non-null   object
 4   Date of Birth    2246 non-null   object
 5   Age              2246 non-null   object
 6   Nationality      2246 non-null   object
 7   Birth Country    2246 non-null   object
 8   Place of Birth   1974 non-null   object
 9   Other Positions  1322 non-null   object
 10  Height           1948 non-null   object
 11  Market Value     2246 non-null   object
dtypes: float64(1), object(11)
memory usage: 210.7+ KB

In [10]:
print(len(df_defenders)/len(df_global)*100)

33.8763197586727

## Midfielders

In [11]:
df_midfielders = pd.concat([df_dm, df_cm, df_rm, df_lm, df_am],ignore_index=True)

In [12]:
df_midfielders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1846 entries, 0 to 1845
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1089 non-null   float64
 1   Name             1846 non-null   object
 2   Main Position    1846 non-null   object
 3   Position         1846 non-null   object
 4   Date of Birth    1846 non-null   object
 5   Age              1846 non-null   object
 6   Nationality      1846 non-null   object
 7   Birth Country    1846 non-null   object
 8   Place of Birth   1610 non-null   object
 9   Other Positions  1383 non-null   object
 10  Height           1562 non-null   object
 11  Market Value     1846 non-null   object
dtypes: float64(1), object(11)
memory usage: 173.2+ KB

In [13]:
print(len(df_midfielders)/len(df_global)*100)

27.84313725490196

## Strikers

In [14]:
df_strikers = pd.concat([df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [15]:
df_strikers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1730 entries, 0 to 1729
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           873 non-null    float64
 1   Name             1730 non-null   object
 2   Main Position    1730 non-null   object
 3   Position         1730 non-null   object
 4   Date of Birth    1730 non-null   object
 5   Age              1729 non-null   object
 6   Nationality      1730 non-null   object
 7   Birth Country    1730 non-null   object
 8   Place of Birth   1492 non-null   object
 9   Other Positions  1281 non-null   object
 10  Height           1500 non-null   object
 11  Market Value     1730 non-null   object
dtypes: float64(1), object(11)
memory usage: 162.3+ KB

In [16]:
print(len(df_strikers)/len(df_global)*100)

26.09351432880845