## Imports

In [1]:
import pandas as pd

In [2]:
df_global = pd.DataFrame

In [3]:
df_gk = pd.read_csv("../../data/argentina/argentina_goalkeepers.csv")
df_cb = pd.read_csv("../../data/argentina/argentina_centerbacks.csv")
df_lb = pd.read_csv("../../data/argentina/argentina_leftbacks.csv")
df_rb = pd.read_csv("../../data/argentina/argentina_rightbacks.csv")
df_dm = pd.read_csv("../../data/argentina/argentina_defensivemidfields.csv")
df_cm = pd.read_csv("../../data/argentina/argentina_centralmidfields.csv")
df_rm = pd.read_csv("../../data/argentina/argentina_rightmidfields.csv")
df_lm = pd.read_csv("../../data/argentina/argentina_leftmidfields.csv")
df_am = pd.read_csv("../../data/argentina/argentina_attackingmidfields.csv")
df_lw = pd.read_csv("../../data/argentina/argentina_leftwingers.csv")
df_rw = pd.read_csv("../../data/argentina/argentina_rightwingers.csv")
df_st = pd.read_csv("../../data/argentina/argentina_secondstrikers.csv")
df_cf = pd.read_csv("../../data/argentina/argentina_centerforwards.csv")

## Merge all the dataframes

In [4]:
df_global = pd.concat([df_gk, df_cb, df_lb, df_rb, df_dm, df_cm, df_rm, df_lm, df_am, df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [5]:
df_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6977 entries, 0 to 6976
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           2091 non-null   float64
 1   Name             6977 non-null   object
 2   Position         6977 non-null   object
 3   Date of Birth    6977 non-null   object
 4   Age              6976 non-null   object
 5   Nationality      6977 non-null   object
 6   Birth Country    6977 non-null   object
 7   Place of Birth   5928 non-null   object
 8   Height           6205 non-null   object
 9   Market Value     6977 non-null   object
 10  Other Positions  3131 non-null   object
dtypes: float64(1), object(10)
memory usage: 599.7+ KB

## Goalkeepers

In [6]:
df_gk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 657 entries, 0 to 656
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Number          178 non-null    float64
 1   Name            657 non-null    object
 2   Position        657 non-null    object
 3   Date of Birth   657 non-null    object
 4   Age             657 non-null    object
 5   Nationality     657 non-null    object
 6   Birth Country   657 non-null    object
 7   Place of Birth  525 non-null    object
 8   Height          549 non-null    object
 9   Market Value    657 non-null    object
dtypes: float64(1), object(9)
memory usage: 51.5+ KB

In [7]:
print(len(df_gk)/len(df_global)*100)

9.41665472266017

## Defenders

In [8]:
df_defenders = pd.concat([ df_cb, df_lb, df_rb],ignore_index=True)

In [9]:
df_defenders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2073 entries, 0 to 2072
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           615 non-null    float64
 1   Name             2073 non-null   object
 2   Position         2073 non-null   object
 3   Date of Birth    2073 non-null   object
 4   Age              2073 non-null   object
 5   Nationality      2073 non-null   object
 6   Birth Country    2073 non-null   object
 7   Place of Birth   1729 non-null   object
 8   Other Positions  834 non-null    object
 9   Height           1844 non-null   object
 10  Market Value     2073 non-null   object
dtypes: float64(1), object(10)
memory usage: 178.3+ KB

In [10]:
print(len(df_defenders)/len(df_global)*100)

29.711910563279346

## Midfielders

In [11]:
df_midfielders = pd.concat([df_dm, df_cm, df_rm, df_lm, df_am],ignore_index=True)

In [12]:
df_midfielders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2313 entries, 0 to 2312
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           652 non-null    float64
 1   Name             2313 non-null   object
 2   Position         2313 non-null   object
 3   Date of Birth    2313 non-null   object
 4   Age              2312 non-null   object
 5   Nationality      2313 non-null   object
 6   Birth Country    2313 non-null   object
 7   Place of Birth   1981 non-null   object
 8   Other Positions  1352 non-null   object
 9   Height           2038 non-null   object
 10  Market Value     2313 non-null   object
dtypes: float64(1), object(10)
memory usage: 198.9+ KB

In [13]:
print(len(df_midfielders)/len(df_global)*100)

33.15178443457073

## Strikers

In [14]:
df_strikers = pd.concat([df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [15]:
df_strikers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1934 entries, 0 to 1933
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           646 non-null    float64
 1   Name             1934 non-null   object
 2   Position         1934 non-null   object
 3   Date of Birth    1934 non-null   object
 4   Age              1934 non-null   object
 5   Nationality      1934 non-null   object
 6   Birth Country    1934 non-null   object
 7   Place of Birth   1693 non-null   object
 8   Other Positions  945 non-null    object
 9   Height           1774 non-null   object
 10  Market Value     1934 non-null   object
dtypes: float64(1), object(10)
memory usage: 166.3+ KB

In [16]:
print(len(df_strikers)/len(df_global)*100)

27.719650279489755