## Imports

In [1]:
import pandas as pd

In [2]:
df_global = pd.DataFrame

In [3]:
df_gk = pd.read_csv("../../data/spain/spain_goalkeepers.csv")
df_cb = pd.read_csv("../../data/spain/spain_centerbacks.csv")
df_lb = pd.read_csv("../../data/spain/spain_leftbacks.csv")
df_rb = pd.read_csv("../../data/spain/spain_rightbacks.csv")
df_dm = pd.read_csv("../../data/spain/spain_defensivemidfields.csv")
df_cm = pd.read_csv("../../data/spain/spain_centralmidfields.csv")
df_rm = pd.read_csv("../../data/spain/spain_rightmidfields.csv")
df_lm = pd.read_csv("../../data/spain/spain_leftmidfields.csv")
df_am = pd.read_csv("../../data/spain/spain_attackingmidfields.csv")
df_lw = pd.read_csv("../../data/spain/spain_leftwingers.csv")
df_rw = pd.read_csv("../../data/spain/spain_rightwingers.csv")
df_st = pd.read_csv("../../data/spain/spain_secondstrikers.csv")
df_cf = pd.read_csv("../../data/spain/spain_centerforwards.csv")

## Merge all the dataframes

In [4]:
df_global = pd.concat([df_gk, df_cb, df_lb, df_rb, df_dm, df_cm, df_rm, df_lm, df_am, df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [5]:
df_global.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12395 entries, 0 to 12394
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           4558 non-null   float64
 1   Name             12395 non-null  object
 2   Position         12395 non-null  object
 3   Date of Birth    12395 non-null  object
 4   Age              12392 non-null  object
 5   Nationality      12395 non-null  object
 6   Birth Country    12395 non-null  object
 7   Place of Birth   12068 non-null  object
 8   Height           7336 non-null   object
 9   Market Value     11826 non-null  object
 10  Main Position    10831 non-null  object
 11  Other Positions  5333 non-null   object
dtypes: float64(1), object(11)
memory usage: 1.1+ MB

## Goalkeepers

In [6]:
df_gk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1564 entries, 0 to 1563
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Number          451 non-null    float64
 1   Name            1564 non-null   object
 2   Position        1564 non-null   object
 3   Date of Birth   1564 non-null   object
 4   Age             1563 non-null   object
 5   Nationality     1564 non-null   object
 6   Birth Country   1564 non-null   object
 7   Place of Birth  1529 non-null   object
 8   Height          1 non-null      object
 9   Market Value    995 non-null    object
dtypes: float64(1), object(9)
memory usage: 122.3+ KB

In [7]:
print(len(df_gk)/len(df_global)*100)

12.617991125453813

## Defenders

In [8]:
df_defenders = pd.concat([ df_cb, df_lb, df_rb],ignore_index=True)

In [9]:
df_defenders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4051 entries, 0 to 4050
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1403 non-null   float64
 1   Name             4051 non-null   object
 2   Main Position    4051 non-null   object
 3   Position         4051 non-null   object
 4   Date of Birth    4051 non-null   object
 5   Age              4050 non-null   object
 6   Nationality      4051 non-null   object
 7   Birth Country    4051 non-null   object
 8   Place of Birth   3954 non-null   object
 9   Other Positions  1776 non-null   object
 10  Height           2764 non-null   object
 11  Market Value     4051 non-null   object
dtypes: float64(1), object(11)
memory usage: 379.9+ KB

In [10]:
print(len(df_defenders)/len(df_global)*100)

32.6825332795482

## Midfielders

In [11]:
df_midfielders = pd.concat([df_dm, df_cm, df_rm, df_lm, df_am],ignore_index=True)

In [12]:
df_midfielders.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3173 entries, 0 to 3172
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1278 non-null   float64
 1   Name             3173 non-null   object
 2   Main Position    3173 non-null   object
 3   Position         3173 non-null   object
 4   Date of Birth    3173 non-null   object
 5   Age              3172 non-null   object
 6   Nationality      3173 non-null   object
 7   Birth Country    3173 non-null   object
 8   Place of Birth   3093 non-null   object
 9   Other Positions  1603 non-null   object
 10  Height           2076 non-null   object
 11  Market Value     3173 non-null   object
dtypes: float64(1), object(11)
memory usage: 297.6+ KB

In [13]:
print(len(df_midfielders)/len(df_global)*100)

25.59903186768858

## Strikers

In [14]:
df_strikers = pd.concat([df_lw, df_rw, df_st, df_cf],ignore_index=True)

In [15]:
df_strikers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3607 entries, 0 to 3606
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1426 non-null   float64
 1   Name             3607 non-null   object
 2   Main Position    3607 non-null   object
 3   Position         3607 non-null   object
 4   Date of Birth    3607 non-null   object
 5   Age              3607 non-null   object
 6   Nationality      3607 non-null   object
 7   Birth Country    3607 non-null   object
 8   Place of Birth   3492 non-null   object
 9   Other Positions  1954 non-null   object
 10  Height           2495 non-null   object
 11  Market Value     3607 non-null   object
dtypes: float64(1), object(11)
memory usage: 338.3+ KB

In [16]:
print(len(df_strikers)/len(df_global)*100)

29.1004437273094