# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [2]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_89597/2000119249.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [209]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Midfielder",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Spain',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Midfielder",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Spain',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        

        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Midfielder",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Spain',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Midfielder",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Portugal',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Main Position,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,,Dani Pérez,Midfielder,Attacking Midfield,"Jul 26, 2005",18,[Spain],Spain,Sevilla,CM LW,"1,73",€500k
1,41,Luis Morales,Midfielder,Attacking Midfield,"Feb 16, 2005",19,[Spain],Spain,Granada,,,€50k
2,,Cristo Muñoz,Midfielder,Attacking Midfield,"Feb 1, 2005",19,[Spain],Spain,Almería,CM,,€50k
3,,Dani del Cerro,Midfielder,Attacking Midfield,"Mar 24, 2005",19,[Spain],Spain,Toledo,LW RW,,-
4,10,Fredy Junior Suárez,Midfielder,Attacking Midfield,"Jan 1, 2005",19,"[Cuba, Spain]",Spain,,,,-
5,14,Iker Prudencio,Midfielder,Attacking Midfield,N/A,18,"[Spain, Germany]",Spain,Madrid,CM RM,"1,85",-
6,,Nico Sánchez,Midfielder,Attacking Midfield,"Jun 16, 2005",19,[Spain],Spain,Alpedrete,RB,,-
7,,Paolo Romero,Midfielder,Attacking Midfield,"Feb 12, 2005",19,[Spain],Spain,Chucena,,,-
8,,Mario Solórzano,Midfielder,Attacking Midfield,"Feb 8, 2005",19,[Spain],Spain,Bezana,CM,"1,70",-
9,,Nico Escarabajal,Midfielder,Attacking Midfield,"Sep 24, 2005",18,[Spain],Spain,Águilas,CM,,-
10,,Álvaro Sánchez,Midfielder,Attacking Midfield,"Feb 16, 2005",19,[Spain],Spain,Etxebarri,RW LW,"1,70",-
11,,Andrés Palacios,Midfielder,Attacking Midfield,"Jun 13, 2005",19,[Spain],Spain,Ibiza,LW RW,"1,78",-
12,,Matias Racino,Midfielder,Attacking Midfield,"Jan 14, 2005",19,"[Spain, Argentina]",Spain,,CM,,-
13,80,Giovani Ghimfuș,Midfielder,Attacking Midfield,"Jul 12, 2005",19,"[Romania, Spain]",Spain,Granada,CM,,€150k
14,,Miguel Carrillo,Midfielder,Attacking Midfield,"Jan 3, 2005",19,[Spain],Spain,Jaén,CM,,€50k
15,,Pablo Muñoz,Midfielder,Attacking Midfield,"Apr 16, 2005",19,[Spain],Spain,Villarrasa,,,-
16,,Alberto Risco,Midfielder,Attacking Midfield,"Aug 30, 2005",18,[Spain],Spain,Córdoba,,,-
17,,Juan Valverde,Midfielder,Attacking Midfield,"Apr 10, 2005",19,[Spain],Spain,Barcelona,RM,"1,76",-
18,,Erik Baena Saavedra,Midfielder,Attacking Midfield,"Jul 19, 2005",18,[Spain],Spain,Barcelona,LW RW,"1,80",-
19,,Sergio Ruiz,Midfielder,Attacking Midfield,"Jan 8, 2005",19,[Spain],Spain,Santander,LW RW,"1,75",-
20,,Dani Cobo,Midfielder,Attacking Midfield,"Nov 6, 2005",18,[Spain],Spain,Camargo,,"1,82",-
21,16,Julen Vicuña,Midfielder,Attacking Midfield,"Jun 21, 2005",19,[Spain],Spain,Barañáin,CF,"1,71",-
22,,Carlos Martin,Midfielder,Attacking Midfield,"May 10, 2005",19,[Spain],Spain,Arucas,RW LW,"1,74",-
23,,Nico Font,Midfielder,Attacking Midfield,"Feb 18, 2005",19,[Spain],Spain,Segorbe,SS RW,"1,71",-
24,,Ihab Goudani,Midfielder,Attacking Midfield,"Apr 21, 2005",19,"[Spain, Morocco]",Spain,Pamplona,RW LW,"1,75",-
25,,Enrique Peña,Midfielder,Attacking Midfield,"Apr 25, 2005",19,"[Peru, Spain]",Spain,Toledo,RW LW,"1,71",-
26,,Alejandro Bueso,Midfielder,Attacking Midfield,"Jan 26, 2005",19,[Spain],Spain,Castellón,CM,"1,82",-
27,20,Alejandro Serrano,Midfielder,Attacking Midfield,"Jan 1, 2005",19,[Spain],Portugal,Murcia,,"1,65",-

In [ ]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_2001)

## Merge all the dataframes into a single one and save the df into a csv file

In [210]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [211]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 854 entries, 0 to 853
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           854 non-null    object
 1   Name             854 non-null    object
 2   Main Position    854 non-null    object
 3   Position         854 non-null    object
 4   Date of Birth    854 non-null    object
 5   Age              854 non-null    object
 6   Nationality      854 non-null    object
 7   Birth Country    854 non-null    object
 8   Place of Birth   854 non-null    object
 9   Other Positions  854 non-null    object
 10  Height           854 non-null    object
 11  Market Value     854 non-null    object
dtypes: object(12)
memory usage: 80.2+ KB

In [212]:
df_merged.to_csv("../../data/spain/spain_attackingmidfields.csv", header= True, index=False)