# Transfermarkt scrapping with Beautiful Soup & Selenium

## Imports

In [1]:
import re
import requests
from bs4 import BeautifulSoup
import pandas as pd
from selenium import webdriver
import time
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By

## Webdriver options

In [126]:
options = webdriver.ChromeOptions()
options.add_argument('--ignore-certificate-errors')
options.add_argument('--incognito')
#options.add_argument('--headless')

driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")

/var/folders/qw/qjxyt3tn1057c6j4pl5tb03c0000gn/T/ipykernel_38723/2000119249.py:6: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver = webdriver.Chrome("../chromedriver-mac-arm64/chromedriver",options= options)

## Create dataframes and scrap the data from Transfermarkt

In [3]:
df_1985 = pd.DataFrame()
df_1986 = pd.DataFrame()
df_1987 = pd.DataFrame()
df_1988 = pd.DataFrame()
df_1989 = pd.DataFrame()
df_1990 = pd.DataFrame()
df_1991 = pd.DataFrame()
df_1992 = pd.DataFrame()
df_1993 = pd.DataFrame()
df_1994 = pd.DataFrame()
df_1995 = pd.DataFrame()
df_1996 = pd.DataFrame()
df_1997 = pd.DataFrame()
df_1998 = pd.DataFrame()
df_1999 = pd.DataFrame()
df_2000 = pd.DataFrame()
df_2001 = pd.DataFrame()
df_2002 = pd.DataFrame()
df_2003 = pd.DataFrame()
df_2004 = pd.DataFrame()
df_2005 = pd.DataFrame()

In [162]:
driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/1")
page_source = driver.page_source
rows = []
next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
count = 2

#print(len(next_buttons))

#for x in range(len(next_buttons)):
while (len(next_buttons)!=0) :
    
    if next_buttons[0].is_displayed():

        soup = BeautifulSoup(page_source, "html.parser")
        #next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        tables = soup.find_all('table')
        table = soup.find('table', class_ = 'items')  
      
        #Collect data for odd rows  
        for row in table.tbody.find_all('tr', class_="odd"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Striker",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Spain',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )

        #Collect data for even rows
        for row in table.tbody.find_all('tr', class_="even"):    
        # Find all data for each column
            columns = row.find_all('td')
    
            if(columns != []):

                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Striker",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Spain',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
            } )        

        driver.get("https://www.transfermarkt.com/detailsuche/spielerdetail/suche/46762278/page/" + "" + str(count))
        page_source = driver.page_source
        next_buttons = driver.find_elements(By.XPATH,"//a [@title='Go to the next page']")
        count +=1


page_source = driver.page_source
soup = BeautifulSoup(page_source, "html.parser")
tables = soup.find_all('table')
table = soup.find('table', class_ = 'items')  
      
#Collect data for odd rows        
for row in table.tbody.find_all('tr', class_="odd"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Striker",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Spain',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )

#Collect data for even rows
for row in table.tbody.find_all('tr', class_="even"):    
    # Find all data for each column
    columns = row.find_all('td')
    
    if(columns != []):
                
                nationalities=[]
                for nationality in columns[6]:
                    if nationality.get("title") is not None :
                        nationalities.append(nationality.get("title"))

                rows.append({
                'Number' : columns[0].text.strip(),
                'Name':columns[3].text.strip(),
                'Main Position': "Striker",
                'Position': columns[4].text.strip(),
                'Date of Birth': columns[5].text.split('(')[0],
                'Age': columns[5].text.split('(')[-1].replace(")",''),
                'Nationality': nationalities ,
                'Birth Country': 'Spain',
                'Place of Birth': columns[8].text.strip(),
                'Other Positions' : columns[9].text.strip(),
                'Height' : columns[10].text.strip(),
                'Market Value' : columns[11].text.strip()
    } )  

df_2005 = pd.DataFrame(rows)               
df_2005

,Number,Name,Main Position,Position,Date of Birth,Age,Nationality,Birth Country,Place of Birth,Other Positions,Height,Market Value
0,,Siren Diao,Striker,Centre-Forward,"Jan 21, 2005",19,"[Spain, Senegal]",Spain,Figueres,LW,"1,89",€1.50m
1,21,Iker Bravo,Striker,Centre-Forward,"Jan 13, 2005",19,[Spain],Spain,Sant Cugat del Vallès,SS LW,"1,82",€500k
2,23,Kevin Sánchez,Striker,Centre-Forward,"Feb 20, 2005",19,[Spain],Spain,Burgos,RW AM,,€300k
3,25,David Momoh,Striker,Centre-Forward,"Jun 24, 2005",19,"[Spain, Sierra Leone]",Spain,,LW,"1,83",€25k
4,20,Salva Costa,Striker,Centre-Forward,"Apr 18, 2005",19,[Spain],Spain,Barcelona,,,-
5,,Mario Cervera,Striker,Centre-Forward,"Oct 25, 2005",18,[Spain],Spain,Valencia,,,-
6,7,Solo Traoré,Striker,Centre-Forward,"Nov 24, 2005",18,"[Spain, Cote d'Ivoire]",Spain,Sabadell,RW,,-
7,,Laken Torres,Striker,Centre-Forward,"Jan 15, 2005",19,"[Spain, Nigeria]",Spain,Denia,,"1,85",-
8,,Arturo Suárez,Striker,Centre-Forward,"Jun 9, 2005",19,[Spain],Spain,León,AM,"1,87",-
9,,Sergio Herrero Medina,Striker,Centre-Forward,"May 13, 2005",19,"[Spain, Iceland]",Spain,,SS AM,"1,87",-
10,20,Bright Prince,Striker,Centre-Forward,"Oct 26, 2005",18,"[Nigeria, Spain]",Spain,Madrid,,,-
11,,Eduardo Hervias,Striker,Centre-Forward,"Jun 2, 2005",19,"[Peru, Spain]",Spain,Madrid,,"1,73",-
12,,Nordin Al Lal,Striker,Centre-Forward,"Feb 14, 2005",19,"[Morocco, Spain]",Spain,Melilla,,"1,78",-
13,12,Eliezer Mayenda,Striker,Centre-Forward,"May 8, 2005",19,"[Spain, France]",Spain,Zaragoza,RW LW,"1,80",€700k
14,34,Yanis Senhadji,Striker,Centre-Forward,"Jan 5, 2005",19,"[Spain, Algeria]",Spain,Sant Feliu de Llobregat,,"1,84",€300k
15,19,Borja Vázquez,Striker,Centre-Forward,"Jan 18, 2005",19,[Spain],Spain,Jerez de la Frontera,,,€50k
16,17,Emmanuel Elekwa,Striker,Centre-Forward,"Jun 11, 2005",19,"[Germany, Spain]",Spain,,RW LW,"1,87",€25k
17,,Álvaro Gómez,Striker,Centre-Forward,"Jan 4, 2005",19,[Spain],Spain,Doña Mencía,,,-
18,,Marcos Rodríguez,Striker,Centre-Forward,"Jan 1, 2005",19,[Spain],Spain,Oviedo,,,-
19,,Manu Bielo,Striker,Centre-Forward,"Sep 21, 2005",18,"[Spain, Equatorial Guinea]",Spain,Getafe,,"1,89",-
20,20,Adri López,Striker,Centre-Forward,"Feb 23, 2005",19,[Spain],Spain,Úbeda,,,-
21,,Ayman Arguigue,Striker,Centre-Forward,"May 12, 2005",19,"[Morocco, Spain]",Spain,Carcaixent,,"1,84",-
22,26,Marc Palomero,Striker,Centre-Forward,"Mar 28, 2005",19,[Spain],Spain,Burriana,,,-
23,,Sergio Neira,Striker,Centre-Forward,"Jun 26, 2005",19,[Spain],Spain,Oviedo,,,-
24,7,Carlos Lumbreras,Striker,Centre-Forward,"Feb 20, 2005",19,[Spain],Spain,Sarriguren,,"1,80",-
25,,Darío Marcos,Striker,Centre-Forward,"Mar 6, 2005",19,[Spain],Spain,Elche,SS,,-
26,,Juanpe Rubio,Striker,Centre-Forward,"Jan 1, 2005",19,[Spain],Spain,Totana,SS,,-
27,7,Celso Bermejo,Striker,Centre-Forward,"Jan 9, 2005",19,[Spain],Spain,La línea de la Concepción,,"1,90",-
28,,Pablo Castillo,Striker,Centre-Forward,"Feb 19, 2005",19,[Spain],Spain,Armilla,,,-
29,,Carlos Espí,Striker,Centre-Forward,"Jul 24, 2005",19,[Spain],Spain,Tavernes de la Valldigna,,"1,94",-
30,23,Asier Hierro,Striker,Centre-Forward,"May 6, 2005",19,[Spain],Spain,Basauri,,"1,90",-
31,,Alejandro Rapan,Striker,Centre-Forward,"Jul 13, 2005",19,[Romania],Spain,Cuenca,,,-
32,,Rachad Fettal,Striker,Centre-Forward,"Jan 16, 2005",19,"[Morocco, Spain]",Spain,Torre Pacheco,SS,"1,84",-
33,92,Miguel Salgado Sanz,Striker,Centre-Forward,"Feb 17, 2005",19,"[United Arab Emirates, Spain]",Spain,Madrid,RW,"1,88",-
34,,Javi Alonso,Striker,Centre-Forward,"Mar 15, 2005",19,[Spain],Spain,Madrid,SS,"1,76",-
35,,Iker Gil,Striker,Centre-Forward,"Mar 15, 2005",19,[Spain],Spain,Zaragoza,,"1,71",-
36,,David Domínguez,Striker,Centre-Forward,"Jun 25, 2005",19,[Spain],Spain,Cambre,,,-
37,,Gabi Salas,Striker,Centre-Forward,"Aug 3, 2005",19,[Spain],Spain,Mallorca,,,-
38,18,Pau Cabanes,Striker,Centre-Forward,"Feb 17, 2005",19,[Spain],Spain,Burriana,,"1,79",-
39,,Jorge Dalmau,Striker,Centre-Forward,"Feb 26, 2005",19,[Spain],Spain,Alginet,,,-
40,20,Txus Vizcay,Striker,Centre-Forward,"Aug 5, 2005",19,[Spain],Spain,Huarte,,"1,86",-
41,,Santos Maya,Striker,Centre-Forward,"Jul 7, 2005",19,[Spain],Spain,Madrid,,,-
42,,Pola,Striker,Centre-Forward,"Nov 13, 2005",18,[Spain],Spain,Isla Cristina,,,-
43,,Antonio Martín,Striker,Centre-Forward,"Apr 4, 2005",19,[Spain],Spain,Villanueva del Trabuco,RW LW,,-
44,,Álvaro Ginés,Striker,Centre-Forward,"Mar 15, 2005",19,[Spain],Spain,Murcia,,"1,77",-
45,9,Enrique Herrero,Striker,Centre-Forward,"Jan 28, 2005",19,[Spain],Spain,Lorquí,,"1,73",-

In [140]:
with pd.option_context('display.max_rows',None, 'display.max_columns',None):print(df_2004)

   Number                       Name Main Position        Position
0       9             Samu Omorodion       Striker  Centre-Forward  \
1      19                Nacho Ferri       Striker  Centre-Forward
2       9                Adrián Niño       Striker  Centre-Forward
3      19               Abde Raihani       Striker  Centre-Forward
4      11                   Pau Sans       Striker  Centre-Forward
5       9            Mario Dominguez       Striker  Centre-Forward
6       9            Jakes Gorosabel       Striker  Centre-Forward
7      22               Fabián Luzzi       Striker  Centre-Forward
8                        Adam Mulele       Striker  Centre-Forward
9      18                 Hugo Matos       Striker  Centre-Forward
10                    Carles Garrido       Striker  Centre-Forward
11     16               Pedro Méndez       Striker  Centre-Forward
12                     Javi Baldobar       Striker  Centre-Forward
13                  Álvaro Rodríguez       Striker  Centre-Forward
14     11             Víctor Barberá       Striker  Centre-Forward
15      9             Tiziano Correa       Striker  Centre-Forward
16      9             Victor Tellado       Striker  Centre-Forward
17     17               Martín Ochoa       Striker  Centre-Forward
18                      Yago Paredes       Striker  Centre-Forward
19     19               Joselu Pérez       Striker  Centre-Forward
20                      Marcos Denia       Striker  Centre-Forward
21                     Marcos Sotelo       Striker  Centre-Forward
22      9            Ekain Orobengoa       Striker  Centre-Forward
23                   Abraham Nobrega       Striker  Centre-Forward
24     15                Álex Maroto       Striker  Centre-Forward
25     19               Toni Sánchez       Striker  Centre-Forward
26                     Michael Borja       Striker  Centre-Forward
27         Bil Dornol Nsongo Tonfack       Striker  Centre-Forward
28                    Adri Villasana       Striker  Centre-Forward
29                      Álex Sánchez       Striker  Centre-Forward
30                      Umaru Konare       Striker  Centre-Forward
31     19               Yosmel Zayas       Striker  Centre-Forward
32                     David Cabezas       Striker  Centre-Forward
33                      Ian Martínez       Striker  Centre-Forward
34                      Rubén Cortes       Striker  Centre-Forward
35     14               Alex Sánchez       Striker  Centre-Forward
36      9             Ekaitz Redondo       Striker  Centre-Forward
37      7              Ethan Ventosa       Striker  Centre-Forward
38     19                 Aimar Peña       Striker  Centre-Forward
39     20        Denis Cabeza Aguera       Striker  Centre-Forward
40                     Ismael Aquino       Striker  Centre-Forward
41                      Juan Almeida       Striker  Centre-Forward
42                     Alvaro García       Striker  Centre-Forward
43                   Gonzaldo Digala       Striker  Centre-Forward
44                              Pipe       Striker  Centre-Forward
45     21             Saúl Domínguez       Striker  Centre-Forward
46     29               Elías Romero       Striker  Centre-Forward
47                      Aaron Cámara       Striker  Centre-Forward
48                       Hugo Losada       Striker  Centre-Forward
49                   Álvaro Subisaga       Striker  Centre-Forward
50                     Marcos Moraga       Striker  Centre-Forward
51                    Adrián Gallego       Striker  Centre-Forward
52     12             Gabri Martinez       Striker  Centre-Forward
53                      Mario Fuente       Striker  Centre-Forward
54                      Tomás Inglés       Striker  Centre-Forward
55     18             Ángel Carvajal       Striker  Centre-Forward
56                    Diego Magariño       Striker  Centre-Forward
57                             Bachu       Striker  Centre-Forward
58                      Elías Benali       Striker  Centre-Forward
59                       Pablo López       Striker  Centre-Forward
60                    Johan Cereceda       Striker  Centre-Forward
61     17              Sergio Alonso       Striker  Centre-Forward
62                 Manuel di Massimo       Striker  Centre-Forward
63                    Darius Gherman       Striker  Centre-Forward
64                    Alejo Tangredi       Striker  Centre-Forward
65     23                David López       Striker  Centre-Forward
66                   Sergio Sandoval       Striker  Centre-Forward
67      9              Marcos Moreno       Striker  Centre-Forward
68                      Alonso Yoldi       Striker  Centre-Forward
69                       Pablo Trigo       Striker  Centre-Forward
70      9                    Chupete       Striker  Centre-Forward
71     20                Xavi Planas       Striker  Centre-Forward

    Date of Birth Age                  Nationality Birth Country
0    May 5, 2004   20             [Spain, Nigeria]         Spain  \
1    Oct 5, 2004   19                      [Spain]         Spain
2   Jun 19, 2004   20                      [Spain]         Spain
3    Feb 3, 2004   20             [Morocco, Spain]         Spain
4   Nov 24, 2004   19                      [Spain]         Spain
5   Feb 10, 2004   20                      [Spain]         Spain
6   Jun 29, 2004   20                      [Spain]         Spain
7   May 18, 2004   20              [Spain, Brazil]         Spain
8   Oct 14, 2004   19            [Spain, DR Congo]         Spain
9    Feb 7, 2004   20                      [Spain]         Spain
10   Oct 4, 2004   19                      [Spain]         Spain
11  Jul 27, 2004   20             [Spain, Uruguay]         Spain
12  Feb 22, 2004   20                      [Spain]         Spain
13  Jul 14, 2004   20             [Uruguay, Spain]         Spain
14  Aug 20, 2004   20                      [Spain]         Spain
15  Aug 31, 2004   19             [Uruguay, Spain]         Spain
16  Jan 13, 2004   20                      [Spain]         Spain
17  Dec 20, 2004   19                      [Spain]         Spain
18   Nov 1, 2004   19                      [Spain]         Spain
19  Mar 12, 2004   20                      [Spain]         Spain
20  Mar 23, 2004   20                      [Spain]         Spain
21  Nov 16, 2004   19                      [Spain]         Spain
22  Jun 17, 2004   20                      [Spain]         Spain
23   Apr 6, 2004   20                      [Spain]         Spain
24  Aug 26, 2004   19                      [Spain]         Spain
25  Jan 26, 2004   20                      [Spain]         Spain
26   Dec 6, 2004   19                      [Spain]         Spain
27  Sep 21, 2004   19                   [Cameroon]         Spain
28  May 18, 2004   20                      [Spain]         Spain
29   Sep 3, 2004   19                      [Spain]         Spain
30  Aug 10, 2004   20                [Spain, Mali]         Spain
31   Apr 5, 2004   20                      [Spain]         Spain
32  Mar 16, 2004   20                      [Spain]         Spain
33  Mar 11, 2004   20                      [Spain]         Spain
34  Aug 31, 2004   19                      [Spain]         Spain
35   Mar 3, 2004   20                      [Spain]         Spain
36   Dec 4, 2004   19                      [Spain]         Spain
37  Feb 11, 2004   20                      [Spain]         Spain
38   Jan 6, 2004   20                      [Spain]         Spain
39  Jun 19, 2004   20                      [Spain]         Spain
40   Jan 1, 2004   20  [Spain, Dominican Republic]         Spain
41   Jan 1, 2004   20                      [Spain]         Spain
42   Jul 1, 2004   20                      [Spain]         Spain
43   Feb 9, 2004   20                      [Spain]         Spain
44   Jun 9, 2004   20                      [Spain]         Spain
45  Feb 19, 2004   20                      [Spain]         Spain
46  May 11, 2004   20                      [Spain]         Spain
47   Jan 1, 2004   20                      [Spain]         Spain
48  Jun 19, 2004   20                      [Spain]         Spain
49  Nov 13, 2004   19                      [Spain]         Spain
50  Sep 18, 2004   19                      [Spain]         Spain
51  Aug 12, 2004   20                      [Spain]         Spain
52  Oct 11, 2004   19           [Spain, Argentina]         Spain
53  Jun 19, 2004   20                      [Spain]         Spain
54   Apr 7, 2004   20                      [Spain]         Spain
55  Mar 19, 2004   20                      [Spain]         Spain
56  Apr 24, 2004   20                      [Spain]         Spain
57  Apr 18, 2004   20                      [Spain]         Spain
58   Nov 4, 2004   19           [Algeria, Morocco]         Spain
59  Jan 12, 2004   20                      [Spain]         Spain
60   Apr 8, 2004   20                      [Spain]         Spain
61   Feb 8, 2004   20                      [Spain]         Spain
62   Mar 1, 2004   20                      [Spain]         Spain
63  Jun 27, 2004   20                    [Romania]         Spain
64  Nov 23, 2004   19           [Spain, Argentina]         Spain
65  Jul 25, 2004   20                      [Spain]         Spain
66  Apr 21, 2004   20                      [Spain]         Spain
67  Feb 14, 2004   20                      [Spain]         Spain
68  May 13, 2004   20                      [Spain]         Spain
69  Aug 24, 2004   20                      [Spain]         Spain
70  Aug 24, 2004   20                      [Spain]         Spain
71  Jan 15, 2004   20               [Spain, Chile]         Spain

            Place of Birth Other Positions Height Market Value
0                  Melilla                   1,93      €35.00m
1              Montaverner                   1,92       €2.00m
2                     Rota         LW   RW   1,84        €500k
3                Barcelona         LW   RW   1,87        €300k
4                 Zaragoza                   1,77        €200k
5                  Granada              SS   1,75        €200k
6   Donostia-San Sebastián                               €100k
7                   Madrid                   1,75        €100k
8                 Valencia         RW   LW   1,82         €75k
9   Santiago de Compostela                   1,72         €50k
10               Barcelona                   1,83         €50k
11               Santander                   1,88         €25k
12                  Madrid                                €25k
13                 Palamós              LW   1,93       €3.50m
14               Barcelona                   1,77        €700k
15                  Madrid                   1,75        €350k
16                 Sevilla         LW   RW   1,85        €250k
17                 Logroño                   1,78        €200k
18                  Madrid                   1,87        €150k
19             Villalbilla                   1,83        €100k
20                  Madrid                               €100k
21                 Logroño                                €50k
22                Oiartzun         LW   RW                €50k
23                  Getafe                   1,79         €50k
24             Zamarramala         RW   LW                €25k
25                  Málaga                                €25k
26   Jimena de la Frontera         AM   LW                €25k
27                 Yaoundé                                   -
28                 Maliaño                   1,79            -
29                     Ibi                                   -
30        Monforte del Cid                                   -
31                                           1,85            -
32                Balaguer                   1,92            -
33                 Manresa                                   -
34                 Santoña         LW   RW                   -
35                   Ibiza         LW   RW                   -
36                  Bilbao                   1,74            -
37                  Burgos                                   -
38                 Elorrio                                €25k
39             Los Barrios                                   -
40                  Madrid                                   -
41           Isla Cristina         SS   LW                   -
42                                 LW   RW   1,82            -
43             La Mojonera                                   -
44                   Ibiza         LW   RW   1,76            -
45                 Sevilla                                   -
46                 Almería              SS                   -
47                    Haro                                   -
48                 Catoira         LW   RW   1,85            -
49               Colindres              LW                   -
50                  Madrid                                   -
51                  Madrid                                   -
52              Torrevieja                                   -
53                  Oviedo                   1,80            -
54                   Lorca                                   -
55                  Madrid                   1,80            -
56             Fuenlabrada                                   -
57                 Badajoz                                   -
58                Alicante              RW   1,82            -
59    Jerez de la Frontera                                   -
60            San Fernando                                   -
61                                      SS   1,80            -
62                 Sevilla                                   -
63             Palafrugell              AM                   -
64                  Madrid                                   -
65                    León                                   -
66       Vilanova del Camí                   1,66            -
67                Albacete                   1,85            -
68                                                           -
69                A Coruña                   1,79            -
70                 Córdoba                   1,85            -
71              Granollers         LW   RW   1,75            -

## Merge all the dataframes into a single one and save the df into a csv file

In [163]:
df_merged = pd.concat([df_1985,df_1986,df_1987,df_1988,df_1989,df_1990,df_1991,df_1992,df_1993,df_1994,df_1995,df_1996,df_1997,df_1998,df_1999,df_2000,df_2001,df_2002,df_2003,df_2004,df_2005],ignore_index=True)

In [164]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1560 entries, 0 to 1559
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Number           1560 non-null   object
 1   Name             1560 non-null   object
 2   Main Position    1560 non-null   object
 3   Position         1560 non-null   object
 4   Date of Birth    1560 non-null   object
 5   Age              1560 non-null   object
 6   Nationality      1560 non-null   object
 7   Birth Country    1560 non-null   object
 8   Place of Birth   1560 non-null   object
 9   Other Positions  1560 non-null   object
 10  Height           1560 non-null   object
 11  Market Value     1560 non-null   object
dtypes: object(12)
memory usage: 146.4+ KB

In [165]:
df_merged.to_csv("../../data/spain/spain_centerforwards.csv", header= True, index=False)